{% extends "base.html" %}

{% block content %}
    <div id="account" class="container">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content">
                    <h2 class="font-upper mb-4 allauth-headings-custom">{% block head_title %}{% endblock %}</h2>
                    <!-- <hr> -->
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}