{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Reset your password" %}{% endblock %}

{% block inner_content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Enter the email address associated with your account and we'll send you a link to reset your password." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn mb-3" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <!-- <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> -->
{% endblock %}