
{% load i18n %}

<aside id="profileSidebar" class="profile-sidebar">

    <div class="sidebar-user notranslate" translate="no">

        {% if request.user.profile.profile_photo %}
            <img src="{{ request.user.profile.profile_photo.url }}" alt="Profile photo" class="profile-photo">
        {% else %}
            <div class="sidebar-avatar">
                <img src="{% static 'icons/sidebar_no_photo_user_icon.png' %}" alt="" aria-hidden="true" width="60">
            </div>
        {% endif %}

        <h2>{{ request.user.first_name|default:request.user.username }}</h2>

        <!-- badge user role -->
        <span class="text-center mt-2 mb-3">
            <i class="fa-solid fa-graduation-cap mr-2 mr-2"></i> 
            {{ request.user.profile.get_role_display }}
        </span>

    </div>
    <hr>

    <nav class="sidebar-nav notranslate" translate="no" aria-label="{% trans 'Profile navigation' %}">

        <a href="{% url 'profiles:teacher_dashboard' %}" class="sidebar-link {% if request.resolver_match.url_name == 'teacher_dashboard' %}active{% endif %}" aria-label="{% trans 'Dashboard' %}">
            <i class="fa-solid fa-house"></i>
            <span>{% trans "Dashboard" %}</span>
        </a>

        <a href="{% url 'profiles:teacher_classes_list' %}" class="sidebar-link {% if request.resolver_match.url_name == 'teacher_classes_list' %}active{% endif %}"  aria-label="{% trans 'Class List' %}">
            <i class="fa-solid fa-chalkboard-user"></i>
            <span>{% trans "Class List" %}</span>
        </a>

        <a href="{% url 'profiles:teacher_attendance' %}" class="sidebar-link {% if request.resolver_match.url_name == 'teacher_attendance' %}active{% endif %}" aria-label="{% trans 'Attendance' %}">
            <i class="fa-solid fa-list-check"></i>
            <span>{% trans "Attendance" %}</span>
        </a>

        <a href="{% url 'profiles:teacher_courses' %}" class="sidebar-link {% if request.resolver_match.url_name == 'teacher_courses' %}active{% endif %}"  aria-label="{% trans 'Courses' %}">
            <i class="fa-solid fa-circle-info"></i>
            <span>{% trans "Courses" %}</span>
        </a>

        <a href="{% url 'profiles:teacher_calendar' %}" class="sidebar-link {% if request.resolver_match.url_name == 'teacher_calendar' %}active{% endif %}" aria-label="{% trans 'Calendar' %}">
            <i class="fa-regular fa-calendar-days"></i>
            <span>{% trans "Calendar" %}</span>
        </a>

        <a href="{% url 'profiles:teacher_reschedule_classes' %}" class="sidebar-link {% if request.resolver_match.url_name == '#' %}active{% endif %}" aria-label="{% trans 'Reschedule' %}">
            <i class="fa-regular fa-calendar-plus"></i>
            <span>{% trans "Reschedule" %}</span>
        </a>

        <a href="#" class="sidebar-link {% if request.resolver_match.url_name == '#' %}active{% endif %}" aria-label="{% trans 'Evaluations' %}">
            <i class="fa-solid fa-chart-line"></i>
            <span>{% trans "Evaluations" %}</span>
        </a>

        <a href="#" class="sidebar-link {% if request.resolver_match.url_name == '#' %}active{% endif %}" aria-label="{% trans 'Materials' %}">
            <i class="fa-solid fa-folder-open"></i>
            <span>{% trans "Materials" %}</span>
        </a>

        <a href="{% url 'profiles:teacher_profile_settings' %}" class="sidebar-link {% if request.resolver_match.url_name == 'teacher_profile_settings' %}active{% endif %}" aria-label="{% trans 'Account Setting' %}">
            <i class="fa-solid fa-user-gear"></i>
            <span>{% trans "Account Settings" %}</span>
        </a>
    </nav>
    <hr>

    <a href="{% url 'account_logout' %}" class="btn-navbar mb-5 notranslate" aria-label="Logout">
        <i class="fa-solid fa-arrow-right-from-bracket mr-2 mt-1"></i>
        {% trans "Logout" %}
    </a>

</aside>

