{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="overlay-birds"></div>

<div id="index" class="container h-100 w-100">
    <div class="row h-100">
        <div class="col-12 my-auto ml-md-0 mr-md-0 px-0">
            <header>
                <div class="my-auto">
                    <h1 class="display-1 text-white charmonman-title">
                        your<br> <span class="eg-font text-uppercase ml-md-3">English grows</span>
                    </h1> 
                    <h2 class="w-edna">with Edna</h2> 
                    <h3>
                        Live online English lessons for professionals,<br>companies and Cambridge exams candidates
                    </h3>  
                </div>
            </header>
            <div class="cta">
                <div class="row mt-5">
                    <div class="col-12 col-md-4 text-center text-sm-left px-0">
                        <h2>
                            <a href="" class="index-cta-button btn text-uppercase py-2"
                            aria-label="go to the section with services tailored for professional">
                                For Professionals
                            </a>
                        </h2>
                    </div>
                    <div class="col-12 col-md-4 text-center text-sm-left px-0">
                        <h2>
                            <a href="" class="index-cta-button btn text-uppercase py-2"
                            aria-label="go to the companies section to request a tailored plan for your enterprise">
                                For Companies
                            </a>
                        </h2>
                    </div>
                    <div class="col-12 col-md-4 text-center text-sm-left px-0">
                        <h2>
                            <a href="" class="index-cta-button btn text-uppercase py-2"
                            aria-label="go to the section with services tailored for Cambridge exams candidates">
                                Cambridge Exams
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}