#company_admin .wrapper-dashboard-card {
    flex: 1 1 0;    
}

#company_admin .wrapper-dashboard-card:not(:first-child) {
    margin-top: 0;
    /* force card to take up all available width */
}

/* different didsplay on admin (2cards same row) */
#company_admin .today-classes-card.dashboard-card,
#company_admin .training-overview.dashboard-card {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

#company_admin .today-time,
#company_admin .today-course {
    border: 0;
}

#company_admin .overview-grid-header {
    display: none;
    font-size: 0.9rem;
}

#company_admin .today-class-row {
    grid-template-columns: 160px minmax(220px, 1fr) 60px;
}

/* ********************** */

.training-overview-grid {
    background: var(--color-whitesmoke);
    border-radius: 8px;
    width: 100%;
}

#company_admin .attendance-period-grid {
    display: grid;    
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.75fr) minmax(0, 1fr) minmax(0, 1fr);
    width: 100%;
    background: var(--color-whitesmoke);
}

#company_admin .overview-mobile-label {
    display: block;
}


@media (min-width: 1360px) and (max-width: 1599.98px) {

    #company_admin .attendance-period-grid {
        --divider-color: rgba(var(--color-steel-rgb), 0.15);
        --divider-gap: 20px;

        position: relative;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);    
    }

    #company_admin .attendance-period-grid::before {
        content: "";
        position: absolute;

        top: 50%;
        left: 5%;
        right: 5%;

        height: 1px;

        background:
            linear-gradient(
                to right,
                var(--divider-color) 0,
                var(--divider-color) calc(50% - var(--divider-gap)),
                transparent calc(50% - var(--divider-gap)),
                transparent calc(50% + var(--divider-gap)),
                var(--divider-color) calc(50% + var(--divider-gap)),
                var(--divider-color) 100%
            );
    }

    .today-classes-list {
    /* same height as training-overview*/    
        max-height:674.94px;
    }

    #company_admin .training-attendance-bar {
        height: 7px;
    }

}



@media (max-width: 1359.98px) {
    #company_admin .dashboard-cards-grid {
        display: flex;
        flex-direction: column;
    }

}


@media (max-width: 991.99px) {
}


@media (max-width: 766.99px) {
    
    #company_admin .today-class-row {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "time level"
            "course course"
            "button button";
        gap: .5rem 1rem;
        width: 100%;
        min-width: 0;
        padding: 0.75rem 1rem 0.15rem 1rem;
        align-items: center;
    }

    #company_admin .today-classes-card.dashboard-card {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    /* TODAY'S CLASSES */
    #company_admin .today-sessions-list {
        width: 100%;
        min-width: 0;
    }

    /* Time */
    #company_admin .today-time {
        grid-area: time;
        min-width: 0;
        justify-self: start;
        margin: 0;
        font-weight: 600;
        white-space: nowrap;
        height: 40px;
    }

    /* Course & lesson */
    #company_admin .today-course {
        grid-area: course;
        min-width: 0;
        width: 100%;
        padding: 0.5rem 0.25rem 0.5rem 0;
    }

    #company_admin .course-name-and-class-num {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .15rem;
    }

    #company_admin .today-course strong {
        overflow-wrap: anywhere;
    }

    #company_admin .class-number {
        display: block;
    }

    /* Level */
    #company_admin .today-level {
        grid-area: level;

        justify-self: end;
        align-self: center;
    }

    #company_admin .today-level .level {
        margin-right: 0 !important;
    }

}


@media (max-width: 600px) {
    #company_admin .attendance-period-grid {
        --divider-color: rgba(var(--color-steel-rgb), 0.15);
        --divider-gap: 20px;

        position: relative;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);    
    }

    #company_admin .attendance-period-grid::before {
        content: "";
        position: absolute;

        top: 50%;
        left: 5%;
        right: 5%;

        height: 1px;

        background:
            linear-gradient(
                to right,
                var(--divider-color) 0,
                var(--divider-color) calc(50% - var(--divider-gap)),
                transparent calc(50% - var(--divider-gap)),
                transparent calc(50% + var(--divider-gap)),
                var(--divider-color) calc(50% + var(--divider-gap)),
                var(--divider-color) 100%
            );
    }

    #company_admin .overview-mobile-label {
        font-size: 0.75rem;
    }

    #company_admin .overview-period:first-of-type {
        margin-top: 0;
    }

    #company_admin .training-attendance-bar {
        height: 7px;
    }

}


@media (max-width: 370px) {

    #company_admin .next-class-card .info {
        padding: 10.5rem 2rem 2rem;
    }

    #company_admin .student-detail-card h2 {
        font-size: 1.5rem;
    }

}
