{% extends "profiles/profile.html" %}
{% load static %}
{% load date_extras %}


{% block extra_title %}| My Attendance{% endblock %}


{% block content %}

{% include "profiles/includes/shared/sidebar.html" %}

<section class="my-attendance">
    <div class="overlay-birds"></div>
    <div class="row w-100 mb-4">   
        <div class="col-12 w-100 ml-0 pl-0">
            <header>
                <h1>My Attendance</h1>
                <!-- <p>Check your attendance to your current course: <strong>{{ active_enrollment.course.course_type.name }}</strong>.</p> -->
                <div class="row mt-3 w-100">
                    <div class="col-12 pl-0">
                        <div class="course-info-item">
                            <div class="course-info-icon">
                                <i class="fa-solid fa-list-check"></i>
                            </div>

                            <div class="course-info-text">
                                <strong>Lessons Attended</strong>
                                <span>{{ active_enrollment.classes_attended|default:"0" }} / {{ active_enrollment.total_completed_classes|default:"0" }}</span>
                            </div>
                        </div>                    
                    </div>
                </div>
            </header>
        </div>
    </div>


    <div class="attendance-progress-card mb-4">

        <div class="circle-panel1">
            <!-- <div class="icon-circle-bg"><i class="fa-solid fa-percent"></i></div> -->
            <h2>Attendance<br>Rate</h2>
        </div>
        <div class="circle-panel2"></div>
{% if active_enrollment %}                
        <div class="info">
            <div class="attendance-percentage-card mt-3 mb-3">
                <div class="mb-2">
                    <!-- <strong>Attendance</strong> -->
                    <p>{{ active_enrollment.attendance_percentage|default:"0" }}%</p>
                    
                </div>

                <progress
                    class="attendance-progress"
                    value="{{ active_enrollment.attendance_percentage }}"
                    max="100">
                    {{ active_enrollment.attendance_percentage|default:"0" }}%
                </progress>
            </div>                            

            {% if active_enrollment.has_low_attendance_warning %}
            <div class="attendance-warning ml-4 mr-3">                
                <p class="mb-0"><i class="fa-solid fa-triangle-exclamation"></i>Attendance is below the recommended level!</p>
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="row ">
        <div class="attendance-details1">
            <div class="col-12 col-lg-5 detailed-attendance-card mx-auto">
                <div class="circle-panel1">
                    <h2>Attendance<br><small>Details</small></h2>
                </div>
                <div class="circle-panel2"></div>
                <div class="col-12">
                    <div class="course-info-item">
                        <div class="course-info-icon">
                            <i class="fa-solid fa-list-check"></i>
                        </div>

                        <div class="course-info-text">
                            <strong>Lessons Attended</strong>
                            <span>{{ active_enrollment.classes_attended|default:"0" }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="course-info-item">
                        <div class="course-info-icon">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                        </div>

                        <div class="course-info-text">
                            <strong>Past Lessons</strong>
                            <span>{{ active_enrollment.total_completed_classes|default:"0" }}</span>
                        </div>
                    </div>                    
                </div>
                <div class="col-12">
                    <div class="course-info-item">
                        <div class="course-info-icon">
                            <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal"></i>
                        </div>

                        <div class="course-info-text">
                            <strong>Upcoming Lessons</strong>
                            <span>{{ active_enrollment.upcoming_classes|default:"0" }}</span>
                        </div>
                    </div>                    
                </div>
            
                <div class="col-12 wrapper-attendance-accordion mt-4">
                    <!-- PARENT ACCORDION -->
                    <div id="parentAttendanceAccordion" role="tablist">
                        <div class="card mb-2 shadow-sm rounded">
                            <!-- PARENT HEADER -->
                            <div class="card-header" role="tab" id="parentAttendanceHeading">
                                <div class="mb-0 w-100 px-4">
                                    <a class="collapsed text-white d-flex align-items-center justify-content-between w-100"
                                    data-toggle="collapse"
                                    href="#parentAttendanceCollapse"
                                    aria-expanded="false"
                                    aria-controls="parentAttendanceCollapse">
                                        <div class="d-flex align-items-center">
                                            <div class="attendance-history-icon mr-2">
                                                <i class="fa-solid fa-list-check mr-2"></i>
                                            </div>

                                            <strong class="ml-3">My Attendance Record</strong>
                                        </div>

                                        <i class="fa-solid fa-chevron-down ml-2"></i>
                                    </a>
                                </div>
                            </div>

                            <!-- PARENT COLLAPSE -->
                            <div id="parentAttendanceCollapse"
                                class="collapse"
                                role="tabpanel"
                                aria-labelledby="parentAttendanceHeading"
                                data-parent="#parentAttendanceAccordion">

                                <div class="card-body">

                                    <!-- CHILD ACCORDION -->
                                    <div id="attendance_accordion" role="tablist">
                                    {% if recent_attendance %}

                                        {% for attendance in recent_attendance %}
                                        <div class="card mb-1 shadow-sm">

                                            <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                                                <a class="collapsed text-light d-block"
                                                data-toggle="collapse"
                                                href="#collapse{{ forloop.counter }}"
                                                aria-expanded="false"
                                                aria-controls="collapse{{ forloop.counter }}">

                                                    <div class="attendance-history-item d-flex align-items-center justify-content-between">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="mb-0">Lesson {{ attendance.class_session.class_number }}</h6>                                                        
                                                        </div>
                                                        <i class="fa-solid fa-chevron-down ml-2"></i>
                                                    </div>                    
                                                </a>
                                            </div>

                                            <div id="collapse{{ forloop.counter }}"
                                                class="collapse"
                                                role="tabpanel"
                                                aria-labelledby="heading{{ forloop.counter }}"
                                                data-parent="#attendance_accordion">

                                                <div class="card-body row">
                                                    <div class="col-12">
                                                        <p><span><i class="fa-solid fa-calendar-day mr-2"></i>{{ attendance.class_session.start_time|ordinal_sup|safe }}</span></p>
                                                        <p><strong>Status:</strong> {{ attendance.get_status_display }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-white p-2"><strong>You don't have any recent attendance yet.</strong></p>
                                    {% endif %}

                                    </div>
                                    <!-- END CHILD ACCORDION -->

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="attendance-details2">
            <div class="col-12 col-md-5 detailed-attendance-card mx-auto">
                <div class="circle-panel1">
                    <h2>Absence<br><small>Details</small></h2>
                </div>
                <div class="circle-panel2"></div>
                <div class="col-12">
                    <div class="course-info-item">
                        <div class="course-info-icon">
                            <i class="fa-solid fa-user-xmark"></i>
                        </div>

                        <div class="course-info-text">
                            <strong>Total Absences</strong>
                            <span>{{ active_enrollment.total_absences|default:"0" }}</span>
                        </div>
                    </div>            
                </div>
                <div class="col-12">
                    <div class="course-info-item">
                        <div class="course-info-icon">
                            <i class="fa-regular fa-calendar-xmark"></i>
                        </div>

                        <div class="course-info-text">
                            <strong>Lessons Missed</strong>
                            <span>{{ active_enrollment.classes_missed|default:"0" }}</span>
                        </div>
                    </div>            
                </div>
                <div class="col-12">
                    <div class="course-info-item">
                        <div class="course-info-icon">
                            <i class="fa-regular fa-calendar-minus"></i>
                        </div>

                        <div class="course-info-text">
                            <strong>Excused Absences</strong>
                        <span> {{ active_enrollment.classes_excused|default:"0" }} </span>
                        </div>
                    </div> 
                </div>
                
                <div class="col-12 wrapper-attendance-accordion mt-4">
                    <!-- PARENT ACCORDION -->
                    <div id="parentAbsenceAccordion" role="tablist">
                        <div class="card mb-2 shadow-sm rounded">
                            <!-- PARENT HEADER -->
                            <div class="card-header" role="tab" id="parentAbsenceHeading">
                                <div class="mb-0 w-100 px-4">
                                    <a class="collapsed text-white d-flex align-items-center justify-content-between w-100"
                                    data-toggle="collapse"
                                    href="#parentAbsenceCollapse"
                                    aria-expanded="false"
                                    aria-controls="parentAbsenceCollapse">
                                        
                                        <div class="d-flex align-items-center">
                                            <div class="attendance-history-icon mr-2">
                                                <i class="fa-solid fa-user-xmark"></i>
                                            </div>

                                            <strong class="ml-3">My Absence Record</strong>
                                        </div>

                                        <i class="fa-solid fa-chevron-down ml-2"></i>
                                    </a>
                                </div>
                            </div>

                            <!-- PARENT COLLAPSE -->
                            <div id="parentAbsenceCollapse"
                                class="collapse"
                                role="tabpanel"
                                aria-labelledby="parentAbsenceHeading"
                                data-parent="#parentAbsenceAccordion">

                                <div class="card-body">

                                    <!-- CHILD ACCORDION -->
                                    <div id="absence_accordion" role="tablist">
                                    {% if recent_absences %}

                                        {% for absence in recent_absences %}
                                        <div class="card mb-1 shadow-sm">

                                            <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                                                <a class="collapsed text-light d-block"
                                                data-toggle="collapse"
                                                href="#collapse{{ forloop.counter }}"
                                                aria-expanded="false"
                                                aria-controls="collapse{{ forloop.counter }}">

                                                    <div class="attendance-history-item d-flex align-items-center justify-content-between">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="mb-0">Lesson {{ absence.class_session.class_number }}</h6>                                                        
                                                        </div>
                                                        <i class="fa-solid fa-chevron-down ml-2"></i>
                                                    </div>                    
                                                </a>
                                            </div>

                                            <div id="collapse{{ forloop.counter }}"
                                                class="collapse"
                                                role="tabpanel"
                                                aria-labelledby="heading{{ forloop.counter }}"
                                                data-parent="#absence_accordion">

                                                <div class="card-body row">
                                                    <div class="col-12">
                                                        <p><span><i class="fa-solid fa-calendar-day mr-2"></i>{{ absence.class_session.start_time|ordinal_sup|safe }}</span></p>
                                                        <p><strong>Status:</strong> {{ absence.get_status_display }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-white p-2"><strong>You don't have any recent absence yet.</strong></p>
                                    {% endif %}

                                    </div>
                                    <!-- END CHILD ACCORDION -->

                                </div>
                            </div>
                        </div>

                    </div>
                </div>                
            
            </div>    
        </div>
    </div>

{% else %}
        <div class="no-course-assigned">
            <h2>No active course assigned yet</h2>
            <p>Your course information will appear here once you are enrolled in a course.</p>
        </div>
    </div> 
{% endif %}
  
</section>

{% endblock %}