{% extends "profiles/profile.html" %}
{% load static %}

{% block content %}

{% include "profiles/includes/shared/sidebar.html" %}

<section class="my-course">    
    <div class="row">        
        <div class="col-12">
            <header>
                <h1>Course Information</h1>
                <p>View your course details.</p>
            </header>
        </div>
        {% if active_enrollment %}
        <div class="col-12">
            <div class="profile-card mb-4">
                <h2> {{ active_enrollment.course.course_type.name }}</h2>
                <p><strong>Start date:</strong> {{ active_enrollment.course.start_date|date:"d/m/Y"|default:"Not confirmed yet" }}</p>
                <p><strong>End date:</strong> {{ active_enrollment.course.end_date|date:"d/m/Y"|default:"Not confirmed yet" }}</p>
                <p><strong>Status:</strong> {{ active_enrollment.course.get_status_display }}</p>
                {% if active_enrollment.course.teacher %}
                    <p><strong><i class="fa-solid fa-graduation-cap"></i></strong> {{ active_enrollment.course.teacher.first_name|default:"Not Assigned yet" }} {{ active_enrollment.course.teacher.last_name }}</p>
                {% else %}
                    <p><strong>Teacher:</strong> Not assigned yet</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% else %}

    <div class="profile-card">
        <h2>No active course assigned yet</h2>
        <p>Your course information will appear here once you are enrolled in a course.</p>
    </div>

    {% endif %}

</section>

{% endblock %}