{% extends "profiles/profile.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_title %}| Account Settings{% endblock %}

{% block content %}

{% include "profiles/includes/shared/sidebar.html" %}

<section class="profile-settings-page">
    <div class="overlay-birds"></div>
    <div class="row">
        <div class="col-12">
            <h1>Account Settings</h1>
            <p>Update your personal information.</p>
            <div class="wrapper-account-settings-form mt-5">
                <div class="account-settings-form">

                    <form class="mt-3" action="{% url 'profiles:profile_settings' %}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <button class="btn btn-update text-uppercase mt-3" type="submit">
                            Update Profile <i class="fa-solid fa-check-to-slot ml-3"></i>
                        </button>
                    </form>
                
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}