{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}| My Profile{% endblock %}

{% block page_header %}
    <div id="profile-header" class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="profile" class="container">
    <!-- <div class="overlay"></div> -->
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="profile-card col-12"><!-- <hr> -->
                    <h1 class="mb-4"><span class="text-uppercase">Welcome,</span> {{ request.user.first_name|default:request.user.username }}</h1>
                    {% if request.user.profile.company %}
                        <p><i class="icon-card fa-regular fa-building mr-2"></i><strong></strong> {{ request.user.profile.company.name }}</p>
                    {% endif %}
                    {% if request.user.profile.role and request.user.profile.role != "individual" %}
                        <p><i class="icon-card fa-solid fa-user-tie mr-2"></i><strong></strong> {{ request.user.profile.get_role_display }}</p> 
                    {% endif %}
                    <p class="profile-level"><i class="icon-card fa-solid fa-chart-simple mr-2"></i><strong></strong> {{ request.user.profile.level|default:"Not assigned yet" }}</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="class-card d-flex flex-column">
                    <h2 class="mb-3">Next Class</h2>
                    <p><i class="icon-card fa-regular fa-calendar-check mr-3"></i> {{ request.user.profile.course_next_class_date|default:"Not assigned yet" }}</p>
                    <p class="mb-2"><i class="icon-card fa-regular fa-clock mr-3"></i> {{ request.user.profile.course_next_class_time|default:"Not assigned yet" }}</p>
                    <a href="" class="btn btn-custom btn-join-class text-uppercase float-left text-left mt-auto mb-1">
                        <i class="fa-solid fa-video mr-3 pt-1"></i>
                            join class
                        <i class="fa-solid fa-angle-right float-right pt-1"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="course-information-card col-12">
                    <h2 class="mb-3">Course information</h2>
                    <p><strong class="text-uppercase">Course:</strong> {{ request.user.profile.course_assigned|default:"Not assigned yet" }}</p>
                    <p><small>
                        <i class="icon-card fa-solid fa-user-graduate mr-2"></i>
                        <strong>Teacher:</strong> {{ request.user.profile.teacher_assigned|default:"Edna" }}</small></p>
                    <a href="" class="btn btn-custom text-uppercase text-left mt-3 mb-2">
                        <i class="icon-btn fa-regular fa-calendar-days mr-3"></i>
                            Calendar
                        <i class="fa-solid fa-angle-right float-right pt-1"></i>
                    </a>                   
                    <a href="" class="btn btn-custom text-uppercase text-left mb-3">
                        <i class="icon-btn fa-regular fa-folder-open mr-3"></i>
                            Materials
                        <i class="fa-solid fa-angle-right float-right pt-1"></i>
                    </a>
                </div>                
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                {% if request.user.profile.role == "employee" %}
                    {% include "profiles/includes/employee/employee_left_column.html" %}
                {% endif %}
            </div>            
        </div>    
        <div class="row">
            <!-- <div class="col-12 col-md-6 col-lg-4">
                {% if request.user.profile.role == "employee" %}
                    {% include "profiles/includes/employee/employee_left_column.html" %}
                {% endif %}
            </div>             -->

            {% if request.user.profile.role == "individual" %}
                {% include "profiles/includes/individual/individual_profile.html" %}

            {% elif request.user.profile.role == "employee" %}
                {% include "profiles/includes/employee/employee_profile.html" %}

            {% elif request.user.profile.role == "company_admin" %}
                {% include "profiles/includes/company_admin/company_admin_profile.html" %}
            {% endif %}

        </div>

    </div>
    {{ profile }}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}