{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}| My Profile{% endblock %}

{% block page_header %}
    <div id="profile-header" class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="profile-layout">

        {% include "profiles/includes/shared/sidebar.html" %}

        <main class="profile-main">
            {% if profile.role == "worker" %}
                {% include "profiles/includes/employee/dashboard.html" %}
            {% endif %}
        </main>

    </div>

    {{ profile }}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}