{% load crispy_forms_tags %}

    <!-- <div class="col-12 px-0">
        <a href="" class="btn btn-custom text-uppercase float-left text-left mt-3">
            <i class="fa-solid fa-calendar-check mr-3"></i>
            Class Calendar
            <i class="fa-solid fa-angle-right float-right"></i>
        </a>
    </div>
    <div class="col-12 px-0">
        <a href="" class="btn btn-custom text-uppercase float-left text-left mt-3">
            <i class="fa-solid fa-book-open mr-3"></i>
            Course Materials
            <i class="fa-solid fa-angle-right float-right"></i>
        </a>
    </div> -->

    <!-- <div class="col-12 col-md-5 account-info mt-5">
        <h4>Profile Information</h4>

        <form class="mt-3" action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="btn btn-update text-uppercase mt-3" type="submit">
                Update Profile
            </button>
        </form>
    </div> -->
