#my_calendar_page {
    /* margin: 70px auto 60px ; */
    padding: 70px 7% ;
    width: stretch ;
}

#my_calendar_page h1 {
    color:whitesmoke;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.8rem;
}

/* .wrapper-calendar, */
#my_calendar_page .container {
    border-radius: 10px;
    min-width: 100%;
}

#calendar {
    border-radius: 10px;
    padding: 20px 12px 12px;
    box-shadow: 0 2px 3px 0 #003366;
    background: rgba(106, 250, 225, 0.2);
    margin: 0 auto 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Title itself: Week date, e-g-: Jun 18-24 2026  */
.fc-toolbar-title {
    color:whitesmoke;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2rem;
    border-radius: 5px;
    max-width: 100%;
    min-width: 50%;
    padding: 0.5rem 120px;
    background-color: #00686B;
    border: outset 1px #008f8f;
    box-shadow: 0 1px 2px 0 #003366;
    text-align: center;
    margin-bottom: 2rem !important;
}

/* Calendar WEEKLY general card content (timetable rows/cols) */
.fc-view-harness {
    background-color: rgba(245, 245, 245, 0.8);
    width: 100%;
    border-radius: 50px;
}

/*  */
.fc-view-harness-passive {
    border-radius: 5px !important;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid rgb(181, 181, 181);
}

.fc th  {
    background-color: rgba(106, 250, 225, 0.3) /* #6afae1; */
}

/* Calendar date <th> table head content */
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    color:#003366;
    min-height: 3rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MONTHLY VIEW ***** */

/* day numbers in monthly grid */
.fc .fc-daygrid-day-number {
    color: #003366;
}

/* Monthly view: 'all-day' cell full */
.fc .fc-timegrid-axis-frame {
    /* default */
    align-items: center;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    /* default */
    background-color: rgb(234, 234, 234);
}

/* Monthly view: 'all-day' cell text */
.fc .fc-timegrid-axis-cushion {
    max-width: 100px;
    padding: 0.25rem 0.25rem;
}

/* Monthly view: 'all-day' header row */
.fc .fc-daygrid-day-frame {
    min-height: 100%;
    position: relative;
    background-color: rgb(234, 234, 234, 0.1);
}

/* Calendar events styling */
.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror, 
.fc-timegrid-more-link {
    box-shadow: 0 0 0 1px var(--fc-page-bg-color);
    background-color: #00686B;
    padding: 0.3rem;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event:hover,
.fc-timegrid-event.fc-event-mirror:hover, 
.fc-timegrid-more-link:hover {
    cursor: pointer;
    background-color: #01858a;
}

.fc .fc-list-day-text,
.fc .fc-list-day-side-text {
    color: #003366 !important;
}

.bank-holiday-event {
    background-color: #8b0000 !important;
    border-color: #8b0000 !important;
    color: #fff !important;
}

.my-calendar .fc-header-toolbar {
    position: relative;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

/* All toolbar chunks */
.my-calendar .fc-header-toolbar .fc-toolbar-chunk {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* min-width: 0 !important; */
}

/* Title chunk */
.my-calendar .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    z-index: 1;
}

/* Prev button chunk */
.my-calendar .fc-header-toolbar .fc-toolbar-chunk:first-child {
    position: absolute;
    width: 100%;
    top: 100px;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 5;
}

/* Right chunk : month/week/list*/
.my-calendar .fc-header-toolbar .fc-toolbar-chunk:last-child .fc-button {
    background-color: #c1f7e3;
    color: rgb(59, 59, 59);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
}

/* Prev and next shared style */
.my-calendar .fc-prev-button,
.my-calendar .fc-next-button {
    position: absolute !important;
    width: 44px;
    height: 44px;
    padding: 0 !important;
    /* display: inline-flex !important; */
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transform: translateY(-50%);
    z-index: 5;
    background-color: #003366 !important;
    color: antiquewhite !important;
}

/* Next button */
.my-calendar .fc-next-button {
    top: 37px;
    right: 1rem;
    grid-row: 1;
    grid-column: 1;
}

.my-calendar .fc-prev-button {
    top: -62px;
    left: 2rem;
    grid-row: 1;
    grid-column: 1;
}

/* View buttons row: today / week / month / list */
.my-calendar .fc-button-group {
    position: relative;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 0.75rem;
    width: 100% !important;
    margin-left: 0%;
    padding-left: 0%;
}

.my-calendar .fc-button-group .fc-button {
    margin: 0 !important;
    min-width: max-content;
}

.fc .fc-button-group > .fc-button {
    padding: 0.35rem 0.55rem !important;
    box-shadow: 0 1px 2px 0 #003366;
}

.fc .fc-button-group > .fc-button.fc-button-active,
.fc .fc-button-group > .fc-button:active,
.fc .fc-button-group > .fc-button:focus,
.fc .fc-button-group > .fc-button:hover {
    background-color: #6afae1 !important; /* birds color */
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin-left: 0 !important;
}


/* ================================
   FullCalendar Toolbar - Mobile
================================ */

@media (max-width: 768px) {

    #my_calendar_page {
        /* min-width: 100%;
        max-width: 90%; */
        padding: 70px 2%;
        /* overflow-x: scroll; */
    }

    .my-calendar .fc-header-toolbar {
        position: relative;
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        gap: 0.75rem;
        margin-bottom: 1rem;
    }

    /* All toolbar chunks */
    .my-calendar .fc-header-toolbar .fc-toolbar-chunk {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        min-width: 0 !important;
    }

    /* Title itself */
    .my-calendar .fc-toolbar-title {
        width: 100%;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem 1rem;
    }

    /* Prev button chunk */
    .my-calendar .fc-header-toolbar .fc-toolbar-chunk:first-child {
        grid-row: 1;
        grid-column: 1;
        display: flex !important;
        justify-content: center !important;
        /* flex-wrap: wrap !important; */
        gap: 2rem;
        min-width: max-content !important;
    }

    /* Right chunk : month/week/list*/
    .my-calendar .fc-header-toolbar .fc-toolbar-chunk:last-child {
        grid-row: 2;
        grid-column: 1;
        display: flex !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
        gap: 2rem;
        min-width: max-content !important;
    }

    .my-calendar .fc-button {
        font-size: 0.8rem;
    }

    /* View buttons row: month / week / list */
    .my-calendar .fc-button-group {
        gap: 0.25rem;
    }

}

/* ================================
   Extra small screens
================================ */

@media (max-width: 400px) {

    #my_calendar_page .container {
        padding-left: 0%;
        padding-right: 0%;
    }

    #my_calendar_page h1 {
        padding: 0 1rem;
        text-align: center;
        font-size: 2.8rem;
    }

    /* Monthly view: 'all-day' cell text */
    .fc .fc-timegrid-axis-cushion {
        max-width: 80px;
    }


}






