#profile-header {
    margin-top: 120px;
}

/* #profile .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(106, 250, 225, 0.1); 
    z-index: -1;
} */

#profile .profile-card,
#profile .level-card,
#profile .class-card {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 #003366;
    margin: 20px 20px 0 0;
}

#profile .profile-card {
    background-color: #c1f7e3;
}

#profile .level-card {
    background: rgba(255, 255, 255, 0.9); 
}

#profile .class-card {
    /* background-color: #6afae1; */
    background-color: rgba(106, 250, 225, 0.5);
    min-height: 300px;
    min-width: 300px;
}

#profile.container {
    min-height: calc(100vh - 120px) ; /* nav margin-top 120px */
    padding: 0 4%;
    max-width: 100%;
}

#profile h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: #003366;
}

#profile h2 {
    font-size: 3.2rem;
    font-weight: 400;
    font-family: "Big Shoulders Display", sans-serif;
    color: #ffffff;
    line-height: 1.3 !important;
}

#profile .profile-card p,
#profile .level-card p,
#profile .class-card p {
    color: #003366;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0 !important;
    margin: 10px 0 0 0;
}

#profile h4 {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #003366;
}

/* .profile-level {
    background-color: #c1f7e3;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: fit-content;
} */

/* #profile .btn-update {
    width: 100%;
    border-radius: 10px;
    font-size: 1.1rem;
    background: #003366;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    border: outset 1px aquamarine;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */

/* col with order list w. details */
/* #profile .col-lg-8 {
    padding-left: 60px;
} */

#profile .btn-icon  {
    color: #c1f7e3;;
    font-size: 1.5rem;
}

#profile .btn-custom {
    min-width: 100%;
    max-width: 320px;
    box-shadow: 0 2px 3px 0 #003366;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#profile .btn-custom:hover,
#profile .btn-update:hover {
    border: outset 1px #c1f7e3;
    box-shadow: 0 0px 3px 0 #003366;
}

.account-info {
    background-color: #c1f7e3;
    /* width: fit-content; */
    padding: 40px 3%;
    margin: -220px auto 60px !important;
    box-shadow: 0 1px 3px 0 #003366;
    border-radius: 10px;
}

.order-history {
    min-height: fit-content; /* height of profile form + submit button */
    overflow-y: auto;
}

#ordersAccordion .card {
    padding: 10px 20px;
    margin: 20px auto;
    height: 100%;
    max-height: 100%; /* height of profile form + submit button */
    border-radius: 10px !important;
    border: solid 2px #003366;
    background-color: teal;
}

#ordersAccordion .card-header {
    color: white;
}

#ordersAccordion .card-body {
    height: 100%;
    max-height: 100%; /* height of profile form + submit button */
    border-radius: 20px !important;
    border: solid 2px #003366;
    background-color: antiquewhite;
}

#profile .btn {
    background-color: #003366;
    color: antiquewhite;
    text-transform: uppercase;
}

#profile-update-form .form-control {
    color: #000;
    border-radius: 20px;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

/* color of placeholder in CountryField */
#id_default_country option:first-child {
    color: #aab7c4;
}


@media (max-width: 1199.99px) {

    /* #profile.container {
        min-height: calc(100vh - 120px) ;
        padding: 0;
        max-width: 100%;
    } */

}


@media (max-width: 991.99px) {

    /* #profile.container {
        min-height: calc(100vh - 120px) ;
        padding: 0;
        max-width: 100%;
    } */

    .account-info {
        margin: 40px auto 60px !important;
    }

    #profile h2 {
        max-width: 100%;
        /* margin-top: 40px; */
        line-height: 1.3 !important;
    }

    #profile .btn-custom {
        max-width: 100%;
    }


}