/* teal site bg #00686b stormy teal / rgba (0, 122, 120) */
/* teal sidebar #008f8f; dark cyan */

/*  NEW COLOR: Deep Ocean rgba(0, 122, 120, 1) --- #007A78 */

h2, 
h3 {
    font-family: "Big Shoulders Display", sans-serif;
    letter-spacing: 0.03em;
}

.profile-layout {
    min-height: 100vh;
    display: flex;
    flex-grow: 1;
}


/* *** PAGES & SECTIONS ************************************/

.my-course,
.my-attendance,
.profile-settings-page {
    padding: 70px 5%;
    width: 100%;
    min-height: 100vh;
}

main.profile-main {
    width: 100%;
    flex: 1;
    min-width: 0;
}


/* *** HEADERS *********************************************/

#profile-header {
    margin-top: 100px;
}

.course-details header > div:nth-child(2),
.course-details header > div:nth-child(3),
.course-details header > div:nth-child(4) {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 2rem; */
    gap: 0.75rem;
}

.course-details header > div:nth-child(2),
.course-details header > div:nth-child(3) {
    margin-bottom: 2rem;
}

.course-details header > div:nth-child(3) {
    gap: 4rem;
}

.course-details header > div:nth-child(2) i {
    background: radial-gradient(circle,rgba(11, 53, 95, 1) 0%, rgba(0, 107, 125, 0.9) 68%, rgba(7, 192, 199, 0.8) 90%, rgba(95, 240, 223, 1) 100%);
    border-radius: 50%;
    width: 76px;
    height: 76px;
    position: relative;
    color: rgba(95, 245, 207, 0.3);
    font-size: 2.5rem;
    padding: 0.5rem 0.65rem;
    border: 1px outset #006b7d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);

}

/* .my-course header h1 i {
    background: radial-gradient(circle,rgba(11, 53, 95, 1) 0%, rgba(0, 107, 125, 0.9) 68%, rgba(7, 192, 199, 0.8) 90%, rgba(95, 240, 223, 1) 100%);
    border-radius: 50%;
    width: 76px;
    height: 76px;
    position: relative;
    color: rgba(95, 245, 207, 0.3);
    font-size: 2.5rem;
    padding: 0.5rem 0.65rem;
    border: 1px outset #006b7d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
} */


.course-details header h1 {
    /* forces h1 to align with level badge */
    margin-bottom: 0 !important;
}

.course-details header h2 {
    color: #0B355F;
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 0;
    text-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
}

/* horizontal line separating course type | total_hours */
.course-details header h2 > span:nth-child(2) {
    padding: 0 .8rem;
    color: #006b7d;
}



/* *** H1 **************************************************/

/* main.profile-main h1, */
.my-course header h1,
.my-attendance header h1,
.profile-settings-page header h1 {
    color: #003366;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.03em;
    margin-left: 0;
    margin-bottom: 3rem;
    padding-left: 0;
}



/* ****** BUTTONS **************************************** */

.btn-join-class {
    border: 1px solid #5ff0df;
    color: whitesmoke;
    padding: 0.25rem 0.85rem;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    width: max-content;
    max-height: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* background: rgba(94, 234, 212, 0.1); */
    background: linear-gradient(
        222deg,
        #00a7ad 0%,
        #006b7d 90%,
        #004d63 100%
    );

    align-self: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 20, 40, 0.5);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-join-class:hover {
    color: white !important;  /* #5ff0df */
    box-shadow: 0 1px 2px 0 #8b8b8b;
    font-weight: 500;
}

.profile-settings-page .btn-update {
    border: 1px solid #5ff0df;
    color: whitesmoke;
    padding: 0.25rem 0.85rem;
    border-radius: 8px;
    text-decoration: none;
    /* text-transform: capitalize; */
    font-weight: 400;
    width: max-content;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(94, 234, 212, 0.1);
    align-self:right;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 20, 40, 0.5);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.profile-settings-page .btn-update:hover {
    border: outset 1px rgba(95, 240, 223, 1);
    box-shadow: 0 1px 1px 0 #4b4b4b;
    color: aquamarine;
}



/* ********* WRAPPERS ************************************* */

.wrapper-next-class-card,
.wrapper-course-card,
.wrapper-attendance-progress-card,
.wrapper-attendance-details,
.wrapper-absence-details {
    border-radius: 8px;
    padding: 4px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    background: rgba(95, 240, 223, 0.2);
    /* overflow-block: visible; */
    /* max-width: fit-content; */
}

.wrapper-next-class-card {
    min-width: fit-content;
    max-width: fit-content;
}



/* =========================================================
   DESKTOP SIDEBAR
========================================================= */


.profile-sidebar {
    width: 270px;
    flex: 0 0 270px;
    min-height: 100vh;

    background-color: #0b355f;
    color: whitesmoke;
    padding: 2rem;
    /* max-width: 270px;
    min-width: 270px; */
    position: relative;
    z-index: 1030;
}

.profile-sidebar h2 {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Big Shoulders Display", sans-serif;
    letter-spacing: 0.03em;
    color: whitesmoke;
    line-height: 1.3 !important;
    text-transform: capitalize;
}

.sidebar-user {
    text-align: center;
    /* margin-bottom: 2.5rem; */
}

.sidebar-user .eg-font {
    font-size: 1.3rem !important;
}

.sidebar-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5ff0df;
    color: #003b6f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 0 auto 1rem;
}

.profile-photo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    /* border: 1.5px outset whitesmoke; */
    margin: 0 auto 1rem;
    box-shadow: 0 2px 3px 0 #001a34;
}

.sidebar-user h3 {
    margin-bottom: 0.3rem;
}

.sidebar-user span {
    display: inline-block;
    border: 1px solid #5ff0df;
    border-radius: 999px;
    padding: 0.5rem 1rem;
    color: #5ff0df;
    font-size: 0.9rem;
    min-width: 100%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 2rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: whitesmoke;
    text-decoration: none;
    padding: 0.9rem 1rem;
    border-radius: 8px;
}

.sidebar-link:hover,
.sidebar-link.active {
    background-color: #006b7d;
    color: whitesmoke;
    text-decoration: none;
}



/* =========================================================
   MOBILE TOGGLE
========================================================= */

.mobile-sidebar-toggle {
    width: 44px;
    height: 44px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: 1px solid rgba(95, 240, 223, 0.8);
    border-radius: 8px;

    background: transparent;
    color: #ffffff;
    font-size: 1.35rem;

    cursor: pointer;
    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
}

.mobile-sidebar-toggle:hover,
.mobile-sidebar-toggle:focus {
    background-color: #007a7d;
    border-color: #5ff0df;
    color: #ffffff;
    outline: none;
}


/* =========================================================
   BACKDROP: blury bg when sidebar displays 
   on smaller devs (max-width: 991.98px
========================================================= */
/* Hidden by default */
.sidebar-backdrop {
    display: none;
}


/* **************************************************|
|***  STATUS BADGES for:
- Status of course 
- Status of Classes: today/past/upcoming classes*****|
|*********************************** ****************/

.status-badge {
    display: inline-block;
    padding: .2rem .75rem;
    border-radius: 20px;
    color: #fff;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: center;
}

.status-badge.status-badge-student {
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    color: #0B355F;
    border: 2px solid #0b355f !important;
}

.status-badge.status-badge-student i {
    color: #0B355F;
    font-size: 1.2rem;
}

.status-badge.today {
    background: #c7fff9;
    color: #0B355F;
    border: 1px outset #c7fff9 !important;
}

.status-badge.active,
.status-badge.upcoming {
    background: #23c99a;
    border: 1px outset #23c99a !important;
}

.status-badge.confirmed {
    background: #f5c542;
    color: #0B355F;
    border: 1px outset #f5c542 !important;
}

.status-badge.paused,
.status-badge.pending-reschedule {
    background: #6d7175;
    border: 1px outset #6d7175 !important;
}

.status-badge.cancelled,
.status-badge.inactive {
    background: #e95757;
    border: 1px outset #e95757 !important;
}

.status-badge.completed {
    background: rgba(94, 234, 212, 0.15);
    border: 0.5px solid rgba(94, 234, 212, 0.15) !important;
}

/* END of STATUS-BADGES *************/


/* **************************************************|
******** MAIN PROFILE *******************************|
*****************************************************/

.dashboard-level-pill {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    max-width: fit-content;
    border: 1px outset #006b7d;
    border-radius: 999px;
    background: #006b7d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    font-family: "Big Shoulders Display", sans-serif;    
    letter-spacing: 0.03em;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 0 0 .25rem;
    /* margin-top: 2rem; */
}

.dashboard-level-pill .current-level-label {
    padding: 6px 14px;
    color: whitesmoke;
}

.dashboard-level-pill .current-level-value {
    padding: 6px 22px 6px 16px;

    background: #0B355F;
    color: whitesmoke;

    font-weight: 500;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.next-class-card {
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 230px;
    border-radius: 8px;
    /* background: rgba(193, 247, 227, 0.8); */
    background-color: whitesmoke;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    min-width: 290px;
    max-width: fit-content;
}

.profile-dashboard .next-class-card .circle-panel1::after {
    content: "\f51c"; /* <i class="fa-solid fa-chalkboard-user"></i> */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 5.5rem;
    color: rgba(94, 242, 220, 0.2);
    position: absolute;
    top: 170px;
    right: 20%;
    /* rotate: calc(15deg); */
}

.next-class-card .circle-panel1 {
    position: absolute;
    top: -70px;
    left: -170px;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    /* background: #008F8F; */
    /* background: linear-gradient(
        222deg,
        #00a7ad 0%,
        #006b7d 90%,
        #004d63 100%
    ); */
    /* background: linear-gradient(22deg, rgba(11, 53, 95, 0.25) 2%, rgba(0, 107, 125, 1) 100%); */
    background: #0B355F;
    background: linear-gradient(64deg,rgba(11, 53, 95, 1) 0%, rgba(0, 107, 125, 1) 68%, rgba(7, 192, 199, 0.8) 90%, rgba(95, 240, 223, 0.9) 100%);
    box-shadow:
        0 10px 25px rgba(0,107,125,.25),
        inset 0 1px rgba(255,255,255,.15);
    padding-left: 205px;
    padding-top: 90px;
    z-index: 2;
}

.next-class-card .circle-panel2 {
    position: absolute;
    top: -80px;
    left: -155px;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background: #0B355F;
    color: whitesmoke;
    padding-left: 205px;
    padding-top: 90px;
    z-index: 1;
    border: solid 2px whitesmoke;
}

/* .next-class-card .circle-panel1 .icon-circle-bg {
    position: relative;
    top: 20px;
    left: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(251deg,rgba(4, 72, 140, 1) 0%, rgba(11, 53, 95, 1) 87%, rgba(0, 45, 89, 1) 100%);
    border: solid 1px #727272;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
} */

/* .next-class-card .circle-panel1 i {
    position: relative;
    top: 9px;
    left: 11px;
    font-size: 1.4rem;
    color: transparent;
    background: linear-gradient(63deg,rgba(255, 255, 255, 1) 7%, rgba(193, 247, 227, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.next-class-card .circle-panel1 h2 {
    font-family: "Big Shoulders Display", sans-serif;    
    letter-spacing: 0.03em;
    margin: 3rem 1rem 0 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
    color: whitesmoke;
}

.next-class-card .info {
    padding: 2rem 2rem 2rem 17rem;
    width: 100%;
    max-width: fit-content;
    border-radius: 8px;
}

.next-class-card .info p {
    color: #0B355F;
}

.class-session-next-class {
    display: flex;
    align-items: center;
    /* gap: 0.75rem; */
}

.class-session-next-class img {
    width: 26px;
    height: 26px;
    object-fit: contain;
    flex-shrink: 0;
}

.profile-card {
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    min-width: 340px;
    max-width: 70%;
    background: rgba(255, 255, 255, 0.9);
}



/* **************************************************|
******** STUDENT COURSE INFO Page********************|
*****************************************************/

.my-course header > div:nth-child(1),
.my-course header > div:nth-child(2),
.my-course header > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 2rem; */
    gap: 0.75rem;
}

.my-course header > div:nth-child(1),
.my-course header > div:nth-child(2) {
    margin-bottom: 2rem;
}

.my-course header > div:nth-child(2) {
    gap: 4rem;
}

.my-course header > div:nth-child(1) i {
    background: radial-gradient(circle,rgba(11, 53, 95, 1) 0%, rgba(0, 107, 125, 0.9) 68%, rgba(7, 192, 199, 0.8) 90%, rgba(95, 240, 223, 1) 100%);
    border-radius: 50%;
    width: 76px;
    height: 76px;
    position: relative;
    color: rgba(95, 245, 207, 0.3);
    font-size: 2.5rem;
    padding: 0.5rem 0.65rem;
    border: 1px outset #006b7d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);

}

.my-course header h1 {
    margin-bottom: 0;
}

.my-course header h2 {
    color: #0B355F;
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 0;
    text-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
}

/* horizontal line separating course type | total_hours */
.my-course header h2 > span:nth-child(2) {
    padding: 0 .8rem;
    color: #006b7d;
}


/* .my-course header h1 i {
    background: radial-gradient(circle,rgba(11, 53, 95, 1) 0%, rgba(0, 107, 125, 0.9) 68%, rgba(7, 192, 199, 0.8) 90%, rgba(95, 240, 223, 1) 100%);
    border-radius: 50%;
    width: 76px;
    height: 76px;
    position: relative;
    color: rgba(95, 245, 207, 0.3);
    font-size: 2.5rem;
    padding: 0.5rem 0.65rem;
    border: 1px outset #006b7d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
} */

/* .my-course header .item {
    border-bottom: none;
}

.my-course header .item-icon{
    width: 50px;
    height: 50px;
    border: solid 2px #5ff0df;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.my-course header .item .fa-regular,
.my-course header .item .fa-solid {
    color: #0B355F;
    font-size: 1.7rem;
}

.my-course header .item-text strong {
    color: #c7fff9;
    font-size: 1.5rem;
    font-weight: 500;
}

.my-course header .item-text span {
    color: whitesmoke;
    font-size: 1.3rem;
} */

.my-course hr {
    border-color: #006b7d;
    /* border: 4px; */
}

.my-course .course-card {
    border-radius: 8px;
    /* background: #c7fff9; */
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 230px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.my-course .course-card strong {
    text-transform: capitalize;
}

.my-course .course-card img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.no-course-assigned {
    padding: 1rem 2rem 1rem 18rem;
    width: 100%;
}

.no-course-assigned h2 {
    color:#0B355F;
    font-family: "Big Shoulders Display", sans-serif;
    letter-spacing: 0.03em;
    font-size: 1.8rem;
    margin-left: 0%;
    padding-left: 0%;
}

.course-card .circle-panel1 {
    position: absolute;
    top: -130px;
    left: -310px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #0B355F;
    background: linear-gradient(64deg,rgba(11, 53, 95, 1) 0%, rgba(0, 107, 125, 1) 68%, rgba(7, 192, 199, 0.8) 90%, rgba(95, 240, 223, 0.9) 100%);
    box-shadow:
        0 10px 25px rgba(0,107,125,.25),
        inset 0 1px rgba(255,255,255,.15);
    color: whitesmoke;
    padding-left: 205px;
    padding-top: 90px;
    z-index: 2;
}

.my-course .course-card .circle-panel1::after {
    content: "\f05a";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 9.5rem;
    color: rgba(94, 242, 220, 0.2);
    position: absolute;
    top: 75px;
    right: 60px;
}

.course-card .circle-panel2 {
    position: absolute;
    top: -118px;
    left: -310px;
    width: 510px;
    height: 510px;
    border-radius: 50%;
    background: #0B355F;
    color: whitesmoke;
    padding-left: 205px;
    padding-top: 90px;
    z-index: 1;
    border: solid 2px whitesmoke;
}

.course-card .circle-panel1 h2 {
    font-family: "Big Shoulders Display", sans-serif;
    letter-spacing: 0.03em;
    margin: 7rem 1rem 0 145px;
    padding: 3rem 5rem 0 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    color: whitesmoke;
}

.course-card .info {
    padding: 2rem 2rem 2rem 17rem;
    width: 100%;
    min-width: 300px;
}

.course-card .info .col-lg-6 {
    padding-left: 3rem !important;
}

.course-card .info p {
    color: #0B355F;
}

.course-card .item,
.detailed-attendance-card .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.9rem 0;
    border-bottom: 1px solid rgba(0, 128, 128, 0.15);
}

.course-card .item-icon,
.detailed-attendance-card .item-icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    border: outset 1px #5ff0df;
    /* background: linear-gradient(53deg,rgba(0, 128, 128, 1) 0%, rgb(45, 186, 175) 30%, rgba(106, 250, 225, 1) 100%); */
    background: #c7fff9;
    background: linear-gradient(64deg,rgba(11, 53, 95, 1) 0%, rgba(0, 107, 125, 1) 68%, rgba(7, 192, 199, 0.8) 90%, rgba(95, 240, 223, 0.9) 100%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    color: whitesmoke;
}

.course-card .item-text,
.detailed-attendance-card .item-text {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

.course-card .item-text strong,
.detailed-attendance-card .item-text strong {
    color: #006b7d;
    font-weight: 700;
}

.course-card .item-text span,
.detailed-attendance-card .item-text span {
    color: #5f6363;
}


/* **************************************************|
******** STUDENT: My LEARNING PROGRESS PAGE *********|
*****************************************************/
.learner-employee-detail-page {
    color: whitesmoke;
}

.learner-employee-detail-page .student-detail-header h1 {
    color: #edf9f7;
}

.learner-employee-detail-page .student-main-info span {
    color: whitesmoke !important;
    font-size: 1rem !important;
}

.learner-employee-detail-page .course-meta-card.meta-attendance::after {
    content: "\f46c"; /* fa-clipboard-check */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 5.5rem;
    color: rgba(94, 242, 220, 0.1);
    position: absolute;
    top: 25px;
    right: -5px;
    rotate: calc(-15deg);
}

/* Attendance Detail page : SUMMARY CARDS */
.learner-employee-detail-page .wrapper-attendance-summary-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1.5rem auto;
    width: fit-content;
}

.learner-employee-detail-page .progress-ring {
    --percentage: 0;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background:
        conic-gradient(
            #5fffea calc(var(--percentage) * 1%),
            rgba(105, 255, 235, 0.18) 0
        );
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}




/* **************************************************|
******** STUDENT: My ATTENDANCE PAGE ****************|
*****************************************************/

.my-attendance {
    width: stretch;
}

.my-attendance header p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: 500;
}

.my-attendance header strong:last-child {
    color: #006b7d;
}


/* *** Current Attendace PROGRESS *****/
.wrapper-attendance-progress-card,
.wrapper-absence-details,
.wrapper-attendance-details {
    width: 100%;
    max-width: 100% !important;
}

.attendance-progress-card {
    position: relative;
    overflow: hidden;
    display: flex;
    /* min-height: 230px; */
    border-radius: 8px;
    /* background: rgba(193, 247, 227, 0.8); */
    background-color: whitesmoke;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.attendance-progress-card .circle-panel1 {
    position: absolute;
    top: -130px;
    left: -160px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* background: #249188; */
    /* background: linear-gradient(63deg,rgba(0, 122, 120, 1) 3%, rgba(95, 240, 223, 1) 65%, rgba(193, 247, 227, 1) 100%); */
    /* background: 
        radial-gradient(circle at top left,
            rgba(255,255,255,.18) 0%,
            transparent 45%),
        linear-gradient(
            145deg,
            #007f86 0%,
            #006b7d 45%,
            #005265 75%,
            #033c56 100%
    );     */
    /* background: linear-gradient(
        135deg,
        #008d96 0%,
        #007b89 25%,
        #006b7d 55%,
        #00566b 100%
    ); */
    /* background: linear-gradient(
        222deg,
        #00a7ad 0%,
        #006b7d 90%,
        #004d63 100%
    ); */
    background: linear-gradient(64deg,rgba(11, 53, 95, 1) 0%, rgba(0, 107, 125, 1) 68%, rgba(7, 192, 199, 0.8) 90%, rgba(95, 240, 223, 0.9) 100%);

    box-shadow:
        0 10px 25px rgba(0,107,125,.25),
        inset 0 1px rgba(255,255,255,.15);
    padding-left: 150px;
    padding-top: 90px;
    z-index: 2;
}

.attendance-progress-card .circle-panel1 h2 {
    font-family: "Big Shoulders Display", sans-serif;    
    letter-spacing: 0.03em;
    margin: 5.2rem 2rem 0 50px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    color: whitesmoke;
    max-height: 50px;
}

.attendance-progress-card .circle-panel1::after {
    content: "\f46c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 8.5rem;
    color: rgba(94, 242, 220, 0.2);
    position: absolute;
    top: 184px;
    right: 76px;
    rotate: calc(12deg);
}

.circle-panel1 .icon-circle-bg {
    position: relative;
    top: 25px;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient(251deg,rgba(4, 72, 140, 1) 0%, rgba(11, 53, 95, 1) 87%, rgba(0, 45, 89, 1) 100%);
    border: solid 1px #c7fff9;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.circle-panel1 .fa-solid {
    position: relative;
    top: 9px;
    left: 13px;
    font-size: 1.8rem;
}

.attendance-progress-card .circle-panel2 {
    position: absolute;
    top: -120px;
    left: -150px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #0B355F;
    color: whitesmoke;
    padding-left: 205px;
    padding-top: 90px;
    z-index: 1;
    border: solid 2px whitesmoke;
}

.attendance-percentage-card {
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 20px;
}

.attendance-percentage-card p {
    font-family: "Big Shoulders Display", sans-serif;    
    letter-spacing: 0.03em;
    color: #0B355F;
    font-size: 2rem;
    margin-bottom: 0%;
}

.attendance-progress-card .info {
    /* margin-left: 150px; */
    padding: 1rem 2rem 1rem 17rem;
    width: 100%;
    min-height: 165px;
    /* border: outset 1px #006b7d; */
}


/**** Attendance Progress bar ***/

.attendance-progress {
    width: 100%;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.attendance-progress::-webkit-progress-bar {
    background-color: rgba(0, 59, 111, 0.15);
    border-radius: 999px;
}

.attendance-progress::-webkit-progress-value {
    background: linear-gradient(233deg,rgba(0, 128, 128, 1) 0%, rgba(40, 169, 158, 1) 50%, rgba(106, 250, 225, 1) 100%);
    border-radius: 999px;
}

.attendance-progress::-moz-progress-bar {
    background: linear-gradient(233deg,rgba(0, 128, 128, 1) 0%, rgba(40, 169, 158, 1) 50%, rgba(106, 250, 225, 1) 100%);
    border-radius: 999px;
}

.attendance-warning {
    background-color: #e9e9e9;
    color: #0B355F;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: solid 1px #0B355F;
}

.attendance-warning .fa-solid {
    font-size: 1.7rem;
    margin-right: 1rem;
}


/*** Detailed Attendance **********/
.row-details>.row {
    width: 100%;
}

.row-details>.row {
    display: flex;
    gap: 2rem;
}

.detailed-attendance-card {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    border-radius: 8px;
    padding: 125px 20px 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.9);
    z-index: 2;
}

.detailed-attendance-card .circle-panel1 {
    position: absolute;
    top: -400px;
    left: -150px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(251deg,rgba(4, 72, 140, 1) 0%, rgba(11, 53, 95, 1) 87%, rgba(0, 45, 89, 1) 100%);
    color: white;
    z-index: 2;
}

.detailed-attendance-card h2 {
    font-family: "Big Shoulders Display", sans-serif;    
    letter-spacing: 0.03em;
    color: whitesmoke;
    font-size: 2rem;
    margin: 410px 2rem 1rem 11.5rem;
    line-height: 1.1;
}

.detailed-attendance-card .circle-panel2 {
    position: absolute;
    top: -340px;
    left: -145px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    /* background: linear-gradient(63deg,rgba(0, 122, 120, 1) 10%, rgba(95, 240, 223, 1) 65%, rgba(193, 247, 227, 1) 100%); */
    background-color: rgb(0, 107, 125);
    color: white;
    padding-left: 205px;
    padding-top: 90px;
    z-index: 1;
    border: solid 2px #ffffff;
}


/* ******* ACCORDION: My Attendance/Absence Records ********************* */

.wrapper-attendance-accordion {
    width: 100%;
    padding-right: 0%;
}

#parentAttendanceAccordion .card,
#parentAbsenceAccordion .card {
    padding: 0;
    margin: 0%; 
    height: 100%;
    max-height: 100%;
    /* width: 100%;  */
    background: rgba(106, 250, 225, 0);
    border-radius: 10px !important;
}

#parentAttendanceAccordion .card-body,
#parentAbsenceAccordion .card-body {
    padding: 0;
    margin: 0.5rem; 
    height: 100%;
    max-height: 100%;
    /* width: 100%;  */
    background: rgba(106, 250, 225, 0);
}

#attendance_accordion .card,
#absence_accordion .card {
    padding: 0%;
    margin: 0 auto;
    height: 100%;
    max-height: 100%; /* height of profile form + submit button */
    border-radius: 10px !important;
    border: outset 1px #0B355F;
    background: #008f8f;;
}

#parentAttendanceHeading,
#parentAbsenceHeading {
    color: white;
    background-color: #006b7d;
    border-radius: 8px;
}

#parentAttendanceHeading .fa-solid {
    position: relative;
    top: 1px;
    left: 4px;
    font-size: 1.2rem;
    color:#0B355F;
}

#parentAbsenceHeading .fa-solid {
    position: relative;
    top: 1px;
    left: 1px;
    font-size: 1.2rem;
    color:#0B355F;
}

#parentAttendanceHeading .fa-solid.fa-chevron-down,
#parentAbsenceHeading .fa-solid.fa-chevron-down {
    color:#c7fff9;
}

#parentAttendanceHeading.card-header,
#parentAbsenceHeading.card-header {
    color: white;
    background-color: #006b7d;
    border-radius: 8px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

}

#attendance_accordion .card-body,
#absence_accordion .card-body {
    height: 100%;
    max-height: 100%; /* height of profile form + submit button */
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    background-color: whitesmoke;
    margin: 0%;
    padding: 1rem;
}

#attendance_accordion .card-body p,
#absence_accordion .card-body p {
    line-height: 1.4;
    margin: 0%;
    color: #0B355F;
}

.attendance-history-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.attendance-history-icon {
    width: 35px;
    height: 35px;
    min-width: 35px;
    border-radius: 50%;
    border: solid 2px #5ff0df;
    background: linear-gradient(233deg,rgba(0, 128, 128, 1) 0%, rgba(40, 169, 158, 1) 50%, rgba(106, 250, 225, 1) 100%);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.attendance-history-text {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

.attendance-history-text h6 {
    color: #ffffff;
    font-weight: 500;
}

.attendance-history-text h6:hover {
    color: #c7fff9;
}

.attendance-history-text span {
    color: #ffffff;
}



/* **************************************************|
******** ACCOUNT SETTINGS PAGE **********************|
*****************************************************/

.profile-settings-page p {
    font-weight: 500;
}




@media (max-width: 1250px) {

/* === SIDEBAR ===================================== */
    .profile-sidebar {
        /* max-width: 170px;
        min-width: 170px; */
        max-width: 220px;
        padding: 2rem 0.75rem;
    }

    /* STUDENT: Course page **************************/

    .course-card .info {
        padding: 10.5rem 4% 2rem;
    }

    .course-card .info .col:first-child {
        padding-right: 0;
        padding-left: 2rem;
    }

    .course-card .info .col:nth-child(2) {
        padding-left: 3rem;
    }

    .course-card .info .col:last-child {
        padding-left: 2rem;
        border-bottom: none;
    }

    .course-card .circle-panel1 {
        top: -470px;
        left: -170px;
        width: 600px;
        height: 600px;
    }

    .my-course .course-card .circle-panel1::after {
        font-size: 7.5rem;
        color: rgba(94, 242, 220, 0.1);
        position: absolute;
        top: 430px;
        right: 305px;
        /* rotate: calc(5deg); */
    }

    .course-card .circle-panel1 h2 {
        margin: 23rem 1rem 0 4rem;
    }

    .course-card .circle-panel2 {
        top: -470px;
        left: -160px;
        width: 610px;
        height: 610px;
    }


}


@media (max-width: 991.98px) {

    /* *** H1 ****************************************/

    /* main.profile-main h1, */
    .my-attendance header h1,
    .my-attendance header p,
    .profile-settings-page header h1,
    .profile-settings-page header p {
        padding: 0 4%;
    }


    /* SIDEBAR on PROFILES DASHBOARDS ****************/
    .profile-layout {
        display: block;
    }

    .profile-sidebar {
        display: flex;
        flex-direction: column;

        position: fixed;
        top: 0;
        right: auto;
        bottom: 0;
        left: 0;

        width: min(85vw, 300px);
        max-width: none;
        min-height: 100vh;
        flex: none;

        overflow-y: auto;
        overflow-x: hidden;

        background-color: #0b355f;

        transform: translateX(-100%);
        visibility: hidden;

        z-index: 1060;

        box-shadow: 10px 0 30px rgba(0, 0, 0, 0.3);

        transition:
            transform 0.3s ease,
            visibility 0.3s ease;
    }

    .profile-sidebar.sidebar-open {
        transform: translateX(0);
        visibility: visible;
    }

    .sidebar-backdrop {
        display: block;

        position: fixed;
        inset: 0;

        background-color: rgba(2, 23, 43, 0.55);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        z-index: 1050;

        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
    }

    .sidebar-backdrop.backdrop-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    body.mobile-sidebar-active {
        overflow: hidden;
    }

    .profile-main {
        width: 100%;
    }


    /* STUDENT Course page ************************/
    .course-details header h1 {
        font-size: 2.5rem;    
    }

    .my-course .course-card {
        min-width: none !important;
        margin: 0 auto;
    }


    /* ACCOUNT SETTINGS Page *********************/
    .profile-settings-page {
        padding: 70px 2%;
    }

}


@media (max-width: 768px) {

    /*  MAIN PROFILE *************************** */

    /* .profile-layout {
        justify-content: space-around;
    } */


    /*  STUDENT: My DASHBOARD Page ************* */
    
    .next-class-card,
    .next-class-card .info {
        margin: 0 auto;
    }

    /* HEADERS ***********************************/

    /* COURSE DETAILS Pages ******************** */
    .course-details header h1 {
        font-size: 2rem;
        /* line-height: 2;     */
    }

    .course-details header h1 i {
        width: 66px;
        height: 66px;
        font-size: 2rem;
    }

    .course-details header h2 {
        display: flex !important;
        flex-direction: column !important;
    }

    .course-details header h2 span:nth-child(2) {
        display: none;
        visibility: hidden;
    }


    /* STUDENT: My COURSE Page ***************** */

    .my-course {
        padding: 70px 14%;
    }

    .wrapper-course-card {
        margin: 0 auto;
    }

    .my-course .course-card {
        min-width: 0 !important;
        padding: 0%;
    }

    .course-card .info {
        min-width: 0 !important;
        padding: 10.5rem 2rem 2rem;
    }

    .course-card .info .col:first-child {
        padding-left: 0;
    }

    .course-card .info .col:nth-child(2) {
        padding-left: 0;
    }

    .course-card .info .col:last-child {
        padding-left: 0;
    }

    /* STUDENT: MY LEARNING PROGRESS Page */

    .learner-employee-detail-page .wrapper-attendance-summary-card {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1.5rem auto;
        width: 100%;
    }

    /* STUDENT: My ATTENDANCE Page ****** */

    .my-attendance {
        margin: 0 auto;
    }

    .attendance-progress-card .info {
        padding: 7.5rem 4% 2rem;
    }

    .attendance-progress-card .circle-panel1 {
        top: -490px;
        left: -170px;
        width: 600px;
        height: 600px;
        /* background: linear-gradient(101deg,rgba(0, 122, 120, 1) 7%, rgba(95, 240, 223, 1) 65%, rgba(193, 247, 227, 1) 100%); */
    }

    .attendance-progress-card .circle-panel1::after {
        font-size: 5rem;
        color: rgba(94, 242, 220, 0.1);
        position: absolute;
        top: 475px;
        right: 186px;
        rotate: calc(12deg);
    }

    .attendance-progress-card .circle-panel1 h2 {
        margin: 26rem 1rem 0 5rem;
        /* color: #0B355F */
    }

    .attendance-progress-card .circle-panel2 {
        top: -490px;
        left: -160px;
        width: 610px;
        height: 610px;
    }


}


@media (max-width: 576px) {

    /* MAIN PROFILE ********************/


    
    /* STUDENT: My DASHBOARD Page ***** */

    .wrapper-next-class-card {
        min-width: 100%;
        margin: 0 auto;
    }
    
    .next-class-card,
    .next-class-card .info {
        margin: 0 auto;
        min-width: 100%;
    }

    .next-class-card .circle-panel1 {
        top: -490px;
        left: -170px;
        width: 600px;
        height: 600px;
    }

    .next-class-card .info{
        padding: 10.5rem 3.5rem 2rem;
        max-width: max-content;
        justify-content: space-between !important;
    }

    .profile-dashboard .next-class-card .circle-panel1::after {
        font-size: 5.5rem;
        color: rgba(94, 242, 220, 0.1);
        position: absolute;
        top: 480px;
        right: 180px;
    }

    .next-class-card .circle-panel1 h2 {
        margin: 27rem 1rem 0;
    }

    .next-class-card .circle-panel2 {
        top: -488px;
        left: -165px;
        width: 610px;
        height: 610px;
        min-width: 290px;
    }

    .btn-join-class {
        width: 100%;
    }

    /* *** MY COURSE Page ******************************** */

    .my-course {
        padding: 70px 7%;
    }

    .my-course header h1 {
        padding: 0;
    }

    .course-details header > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items:baseline;
        /* margin-bottom: 2rem; */
        gap: 1rem;
    }

    .my-course .course-card .info {       
        padding: 10.5rem 1rem 3rem;
    }


    /* My LEARNING PROGRESS Page */
    /*****************************************************|
    |*** ATTENDANCE DETAIL Page  *************************|
    |*****************************************************/
    .learner-employee-detail-page .attendance-summary-card {
        min-height: 0;
        height: 56px;
        padding: 1.4rem;
        width: 100%;
        display: flex;
        gap: 1.5rem;
    }

    .learner-employee-detail-page .attendance-summary-card strong {
        padding: 0.15rem 0.8rem;
    }

    /* My ATTENDANCE Page ******************************* */

    .my-attendance {
        padding: 70px 3%;
        width: stretch;
    }

    .my-attendance header .item strong {
        font-size: 1.2rem;
    }

    .my-attendance header .item-icon {
        width: 36px;
        height: 36px;
    }

    .my-attendance header .item .fa-solid {
        font-size: 1.2rem;
    }

    /* My ACCOUNT SETTINGS Page **************************** */


}


@media (max-width: 370px) {

    .next-class-card .info {
        padding: 10.5rem 2rem 2rem;
    }


}
