{% extends "profiles/profile_base.html" %}
{% load static %}
{% load date_extras %}

{% block extra_title %}| Attendance Record {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/company_admin/company_admin_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/learner_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/course_class_attendance_list_page.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/meta_cards.css' %}">
{% endblock %}

{% block profile_content %}

<section class="course-attendance my-course profile-page">
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>

    <div class="row mb-3">
        <div class="col-12 mb-2">
            <p class="go-back-link">
                <a href="#" class="text-white js-back-link">
                    <i class="fa-solid fa-arrow-left-long mr-3"></i>
                    Go Back
                </a>
            </p>
        </div>
    </div>    
        
    <header>
        <!-- 1st Child -->
        <div>
            <!-- <i class="fa-solid fa-chalkboard-user mr-3"></i> -->
            <div>
                <h1>{{ course.name|default:"Course Name" }}</h1>
                <h2>
                    <span class="text-muted"><i class="fa-solid fa-swatchbook fa-flip-horizontal mr-3"></i>{{ course.course_type.name|default:"Course Type" }}</span>
                    <span>|</span>
                    <span class="text-muted"><i class="fa-solid fa-chalkboard mr-3"></i>{{ course.total_sessions }} Lessons</spa>
                </h2>

            </div>
        </div>
        <div>
            <div class="col-12 level-pill">
                <span class="current-level-label"><i class="fa-solid fa-chart-simple mr-3"></i>Level</span>
                <span class="current-level-value">
                    {{ course.course_level|default:"Level Pending" }}
                </span>
            </div>
            <span class="status-badge status-badge-student">
                {% if course.status == 'confirmed' %}
                    <i class="fa-regular fa-circle-check mr-2"></i>
                {% elif course.status == 'active' %}
                    <i class="fa-regular fa-circle-play mr-2"></i>
                {% elif course.status == 'completed' %}
                    <i class="fa-solid fa-hourglass-end mr-2"></i>
                {% elif course.status == 'paused' %}
                    <i class="fa-regular fa-circle-pause mr-2"></i>
                {% elif course.status == 'cancelled' %}
                    <i class="fa-regular fa-circle-xmark mr-2"></i>
                {% endif %}
                    {{ course.get_status_display|default:"In progress" }}
            </span>

        </div>
        
    </header> 
    <hr>    

    <div class="meta-row">

        <div class="meta-card meta-attendance">
            <div class="meta-text">
                <strong>Attendance Submitted:</strong>
                <span>{{ completed_count }} / {{ total_classes }} <small>total classes</small></span>
            </div>
        </div>

        <div class="meta-card meta-percentage">
            <div class="meta-text">
                <strong>Current Attendance Rate:</strong>
                <span>
                    {{ average_attendance }} %
                </span>
            </div>
        </div>

    </div>

    <div class="wrapper-attendance-list-panel mt-5">
        <div class="attendance-list-panel">

            <div class="attendance-list-card">

                <div class="attendance-list-header">
                    <!-- <h3 id="attendanceListTitle"></h3> -->
                    <h3>Filter Attendance</h3>
                    <div class="attendance-tools">
                        <input type="date" id="attendanceDateFilter">

                        <input 
                            type="text" 
                            id="attendanceSearchInput" 
                            placeholder="Find employee ..."
                        >                    
                    </div>
                </div>

                <div class="attendance-list">

                    {% for class_session in class_sessions %}
                        <div class="attendance-row"
                            data-status="completed"
                            data-date="{{ class_session.start_time|date:'Y-m-d' }}"
                            data-search="{{ class_session.employee_search_text|lower }}">                            
                            
                            <div>
                                {% if course.enrollment_count == 1 %}
                                <img src="{% static 'icons/one_to_one_course_icon.png' %}" alt="icon">
                                {% else %}
                                <img src="{% static 'icons/group_course_icon.png' %}" alt="icon">
                                {% endif %}

                                <div class="attendance-class-info">
                                    <h3>Lesson {{ class_session.class_number }}</h3>
                                </div>
                            </div>
                            <div class="class-list-date">
                                <div class="icon">
                                    <i class="fa-solid fa-calendar-day"></i>
                                </div>
                                <div>
                                    <strong>{{ class_session.start_time|date:"D, d M" }}</strong>
                                    <span>{{ class_session.start_time|time:"H:i" }} - {{ class_session.end_time|time:"H:i" }}</span>
                                </div>
                            </div>

                            <div class="class-list-attendance-rate">
                                <div class="icon">
                                    <i class="fa-solid fa-clipboard-check"></i>
                                </div>
                                <div>
                                    <strong>Attendance</strong><br>
                                    <span> {{ class_session.attendance_percentage }}%</span>
                                </div>
                            </div>

                            <div class="class-list-student-num">
                                <div class="icon">
                                    <i class="fa-solid fa-users"></i>
                                </div>
                                <div>
                                    <strong>Attended</strong>
                                    <span>{{ class_session.attended_count }}/{{ class_session.registered_count }}</span>
                                </div>
                            </div>

                            <div class="attendance-action">
                                <a href="{% url 'profiles:company_admin_course_attendance_detail' class_session.id %}" 
                                   class="btn-attendance-details">
                                    Review
                                    <img src="{% static 'icons/arrow_right_teal_icon.png' %}" alt="icon">
                                </a>
                            </div>

                        </div>
                    {% empty %}
                        <p class="attendance-empty-message">No submitted attendance records found.</p>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>

</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/company_admin.js' %}"></script>
{% endblock %}