{% extends "profiles/profile_base.html" %}
{% load static %}
{% load date_extras %}
{% load course_extras %}

{% block extra_title %}| Company Employees {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/teacher/teacher_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/company_admin/company_admin_profile.css' %}">
{% endblock %}

{% block profile_content %}

<section class="teacher-course-students-list profile-page">    
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>
        
    <header class="mb-2">
        <div class="row mb-3">
            <div class="col-12 mb-2">
                <p class="go-back-link">
                    <a href="#" class="js-back-link">
                        <i class="fa-solid fa-arrow-left-long mr-3"></i>
                        Go Back
                    </a>    
                </p>
            </div>
        </div>    

        <div class="header-last-child">
            <div>
                <h1>Employee Performance</h1>
                <p class="mb-0">
                    INDIVIDUAL PERFORMANCE - {{ total_employees }} Active employees
                </p>
            </div>
        </div>
    </header>

    <hr>

    <div class="wrapper-course-details">
        <div class="course-details-child">


            <div class="course-detail-grid"> 
                {% if employees %}
                    <div class="student-row-parent">

                        {% for employee in employees %}
                            <div class="student-row employees-list">

                                <button type="button"
                                        class="level level-{{ employee.profile.current_level|lower|cut:'.' }} mr-2">
                                    {{ employee.profile.current_level|default:"?" }}
                                </button>  
                                <div>
                                    <strong>
                                        {{ employee.student.get_full_name|default:employee.student.username }}
                                    </strong>

                                    <a href="mailto:{{ employee.student.email }}">
                                        <span>{{ employee.student.email }}</span>
                                    </a>
                                </div>

                                <div class="view-progress-course">
                                    {% for enrollment in employee.enrollments %}
                                        <a href="{% url 'profiles:company_admin_student_detail' enrollment.course.id enrollment.id %}"
                                        class="btn-to-student-detail">
                                            <i class="fa-solid fa-chart-line mr-2"></i>
                                                {{ enrollment.course.name }}
                                            <i class="fa-solid fa-chevron-right ml-2"></i>
                                        </a>
                                    {% endfor %}
                                </div>                               
                            </div>
                                <!-- <div class="view-progress-course">
                                    {% for enrollment in employee.enrollments %}
                                        <a href="{% url 'profiles:company_admin_student_detail' enrollment.course.id enrollment.id %}"
                                        class="btn-to-student-detail">
                                            <i class="fa-solid fa-chart-line mr-2"></i>
                                                {{ enrollment.course.name }}
                                            <i class="fa-solid fa-chevron-right ml-2"></i>
                                        </a>
                                    {% endfor %}
                                </div>                                -->
                        {% endfor %}

                    </div>
                {% else %}
                    <p class="text-white">No employees enrolled yet.</p>
                {% endif %}
            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/teacher.js' %}"></script>
{% endblock %}