{% extends "profiles/profile_base.html" %}
{% load static %}
{% load i18n %}

{% load date_extras %}
{% load course_extras %}

{% block extra_title %}| Company Employees {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles_base.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profile_roles/company_admin/company_admin_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/studentfeatures/learner_performance/learner_performance_pages.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/features/courses/learners_list.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/components/meta_cards.css' %}">
{% endblock %}

{% block profile_content %}

<section class="company-admin-employees-list-page profile-page notranslate" translate="no">    
    <div class="overlay-globe"></div>
    <div class="overlay-mist"></div>
        
    <header class="mb-2">
            <div>
                <h1>{% trans 'Employee Performance' %}</h1>
            </div>
    </header>
    <hr>

    <p class="text-dark">{% trans "Review all employees' individual performance across different areas" %}.</p>
    
    <!-- META CARD -->
    <div class="meta-row">
        <div class="meta-card meta-students">
            <div>
                <img src="{% static 'icons/dashboard_meta_learners_list_icon.png' %}" alt="" aria-hidden="true" width="50">
            </div>
            <div class="meta-text">
                <strong>{% trans 'Total Employees' %}</strong>
                <span>{{ total_employees|default:"0" }}</span>
            </div>
        </div>
        <div class="meta-card meta-students">
            <div>
                <img src="{% static 'icons/employees_active_icon.png' %}" alt="" aria-hidden="true" width="55">
            </div>
            <div class="meta-text">
                <strong>{% trans 'Active Employees' %}</strong>
                <span>{{ active_employees|default:"0" }}
                    <small>
                        {% if total_employees == 1 %}
                            {% trans 'enrolled' context 'employees meta singular' %}
                        {% elif total_employees < 1 or total_employees > 1 %}
                            {% trans 'enrolled' context 'employees meta plural' %}
                        {% endif %}
                    </small>
                </span>
            </div>
        </div>
    </div>

    <div class="wrapper-employees-list">
        <div class="employees-list-toolbar">

            <span class="sort-label">
                <i class="fa-solid fa-arrow-down-a-z mr-2"></i>
                {% trans 'Sort by' %}
            </span>

            <div class="sort-options">
                <a href="?sort=name"
                class="sort-option {% if sort_by == 'name' %}active{% endif %}">
                    {% trans 'Name A-Z' %}
                </a>

                <a href="?sort=level"
                class="sort-option {% if sort_by == 'level' %}active{% endif %}">
                    {% trans 'Level' %}
                </a>
            </div>

        </div>

        <div>
            <div class="employees-list-grid"> 
                {% if employees %}

                        {% for employee in employees %}
                            <div class="employees-list-row">

                                <div class="small-avatar status-{{ employee.enrollment_status }}">
                                    {% if employee.student.profile.profile_photo %}
                                        <img src="{{ employee.student.profile.profile_photo.url }}" alt="" aria-hidden="true" width="60">
                                    {% else %}
                                        <img src="{% static 'icons/sidebar_no_photo_user_icon.png' %}" alt="" aria-hidden="true" width="60">
                                    {% endif %}
                                        <span class="small-avatar-status-dot" aria-label="{{ employee.enrollment_status }}" title="{{ employee.enrollment_status }}"></span>
                                </div>

                                <div class="main-info">
                                    <strong>
                                        {{ employee.student.get_full_name|default:employee.student.username }}
                                    </strong>
                                    <a href="mailto:{{ employee.student.email }}">
                                        <span>{{ employee.student.email }}</span>
                                    </a>
                                </div>

                                <div class="employee-level">
                                    <span class="level level-{{ employee.profile.current_level|lower|cut:'.' }} mr-2">
                                        {{ employee.profile.current_level|default:"?" }}
                                    </span>  
                                </div>

                                <div class="review">
                                        <a href="{% url 'profiles:company_admin_student_detail' employee.student.id %}"
                                        class="btn-to-student-detail">
                                            <!-- <i class="fa-solid fa-chart-line mr-2"></i> -->
                                                {% trans 'Review' context 'employees list' %}
                                            <img src="{% static 'icons/arrow_right_teal_icon.png' %}" alt="" aria-hidden="true">
                                        </a>
                                </div>                               
                            </div>
                        {% endfor %}

                {% else %}
                    <p>{% trans 'No employees enrolled yet' %}.</p>
                {% endif %}
            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profile_roles/teacher.js' %}"></script>
{% endblock %}