{% extends "profiles/profile_base.html" %}
{% load static %}
{% load i18n %}
{% load i18n %}

{% load date_extras %}
{% load course_extras %}

{% block extra_title %}| Class Attendance Record {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles_base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'profiles/css/profile_roles/teacher/teacher_profile.css' %}"> -->
    <link rel="stylesheet" href="{% static 'profiles/css/features/learner_performance/learner_performance_pages.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/features/attendance/attendance_pages.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/features/courses/learners_list.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/features/courses/course_header.css' %}">
{% endblock %}

{% block profile_content %}

<section class="course-attendance-details profile-page notranslate" translate="no">
    <div class="overlay-globe"></div>
    <div class="overlay-mist"></div>

    <div class="row mb-3">
        <div class="col-12 mb-2">
            <p class="go-back-link">
                <a href="#" class="text-white js-back-link">
                    <img src="{% static 'icons/go_back_teal_icon.png' %}" alt="" width="56" aria-hidden="true">
                    {% trans 'Go Back' %}
                </a>
            </p>
        </div>
    </div>    
        
    <header>
        <div>

            <h1>{{ course.name|default:"Course Name" }}</h1>

            <h2>

                <span class="text-muted">
                    <i class="fa-solid fa-swatchbook fa-flip-horizontal mr-3"></i>
                    {{ course.course_type.name|default:"Course Type" }}
                </span>
                <span>|</span>
                <span class="text-muted">
                    <img src="{% static 'icons/course_total_hours_slate_icon.png' %}" alt="" width="32" aria-hidden="true" class="mr-2 mb-1">
                    {{ course.total_hours|clean_decimal }} h.
                </span>

            </h2>

        </div>


        <!-- =================================================
            LEVEL / STATUS
        ================================================== -->

        <div>

            <div class="col-12 level-pill">
                <span class="current-level-label">
                    {% trans 'Level' %}</span>
                <span class="current-level-value">
                    {{ course.course_level|default:"Pending" }}</span>
            </div>

            <span class="status-badge status-course">

                {% if course.status == 'confirmed' %}
                    <img src="{% static 'icons/course_status_confirmed_navy_icon.png' %}" alt="" width="22" aria-hidden="true" class="mr-2">
                {% elif course.status == 'active' %}
                    <img src="{% static 'icons/course_status_active_navy_icon.png' %}" alt="" width="22" aria-hidden="true" class="mr-2">
                {% elif course.status == 'completed' %}
                    <img src="{% static 'icons/course_status_completed_icon.png' %}" alt="" width="18" aria-hidden="true" class="mr-2">
                {% elif course.status == 'paused' %}
                    <img src="{% static 'icons/course_status_paused_navy_icon.png' %}" alt="" width="22" aria-hidden="true" class="mr-2">
                {% elif course.status == 'cancelled' %}
                    <i class="fa-regular fa-circle-xmark mr-2"></i>
                {% endif %}

                {{ course.get_status_display|default:"In progress" }}

            </span>

        </div>
    </header>


    <!-- <div class="wrapper-attendance-course-info">
        <p class="text-white notranslate" translate="no"><strong><i class="fa-solid fa-chalkboard-user mr-3"></i></strong> 
            {% trans 'Lesson' %} {{ class_session.class_number }}</p>
        <p class="text-white"><strong><i class="fa-regular fa-calendar mr-3"></i></strong> 
            {{ class_session.start_time|date:"D, d M Y" }}</p>
        <p class="text-white"><strong><i class="fa-regular fa-clock mr-3"></i></strong> 
            {{ class_session.start_time|time:"H:i" }} - {{ class_session.end_time|time:"H:i" }}</p>
    </div> -->

    <div class="attendance-detail-card">

        <div class="attendance-detail-card-header">
            <div>
                <h3 class="notranslate" translate="no"><i class="fa-solid fa-clipboard-list"></i>{% trans 'Registered Attendance' %}</h3>
            </div>
        </div>

    <div class="wrapper-attendance-course-info">
        <div>
            <p class="notranslate" translate="no"><strong><img src="{% static 'icons/total_classes_teal_icon.png' %}" alt="" width="22" aria-hidden="true" class="mr-2 mb-1"> 
                {% trans 'Lesson' %} {{ class_session.class_number }}</strong></p>
            <p><i class="fa-regular fa-calendar mr-3"></i>
                {{ class_session.start_time|date:"D, d M Y" }}</p>
            <p><i class="fa-regular fa-clock mr-3"></i>
                {{ class_session.start_time|time:"H:i" }} - {{ class_session.end_time|time:"H:i" }}</p>
        </div>    
        <div>
            <strong>{{ total_count }} {% trans 'employee record' %}{{ total_count|pluralize }}</strong> {% trans 'saved for this class session' %}.
        </div>
    </div>

        <div class="wrapper-attendance-summary-card">

            <div class="attendance-summary-card success">
                <div class="status-pill completed">
                    <i class="fa-solid fa-user-check"></i>
                    <strong>{{ attended_count }}</strong>
                </div>
                <span>
                    {% if attended_count == 1 %}
                        {% translate "Attended" context "attendance singular" %}
                    {% elif attended_count > 1 or not attended_count %}
                        {% translate "Attended" context "attendance plural" %}
                    {% endif %}
                </span>
            </div>

            <div class="attendance-summary-card missed">
                <div class="status-pill missed">
                    <i class="fa-solid fa-user-xmark"></i>
                    <strong>{{ missed_count }}</strong>
                </div>
                <span>
                    {% if missed_count == 1 %}
                        {% translate "Missed" context "absence singular" %}
                    {% elif missed_count > 1 or not missed_count %}
                        {% translate "Missed" context "absence plural" %}
                    {% endif %}
                </span>
            </div>

            <div class="attendance-summary-card pending">
                <div class="status-pill pending">
                    <i class="fa-solid fa-user-minus"></i>
                    <strong>{{ excused_count }}</strong>
                </div>
                <span>
                    {% if excused_count == 1 %}
                        {% translate "Excused" context "excused singular" %}
                    {% elif excused_count > 1 or not excused_count %}
                        {% translate "Excused" context "excused plural" %}
                    {% endif %}
                </span>            
            </div>

        </div>

        <div class="attendance-detail-list mt-5">

            {% for attendance in attendances %}
                <div class="attendance-detail-row">

                    <div class="student-main-info">
                        <div class="student-avatar">
                            {% if attendance.student.profile.profile_photo %}
                                <img src="{{ attendance.student.profile.profile_photo.url }}" alt="{{ attendance.student.get_full_name }}">
                            {% else %}
                                <i class="fa-solid fa-user"></i>
                            {% endif %}
                        </div>
                        <div class="student-name">
                            <strong>{{ attendance.student.get_full_name|default:attendance.student.username }}</strong>
                            <a href="mailto:{{ attendance.student.email }}">                              
                                <span>{{ attendance.student.email }}</span></a>
                        </div>
                    </div>

                    <div class="attendance-status">
                        {% if attendance.status == "attended" %}
                            <span class="status-pill completed">
                                <i class="fa-solid fa-user-check"></i>
                            </span>
                        {% elif attendance.status == "missed" %}
                            <span class="status-pill missed">
                                <i class="fa-solid fa-user-xmark"></i>
                            </span>
                        {% elif attendance.status == "excused" %}
                            <span class="status-pill pending">
                                <i class="fa-solid fa-user-minus"></i>
                            </span>
                        {% else %}
                            <span class="status-pill pending">
                                {{ attendance.status|title }}
                            </span>
                        {% endif %}
                    </div>

                </div>
            {% empty %}
                <p class="attendance-empty-message">{% trans 'No submitted attendance records found' %}.</p>
            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profiles_base.js' %}"></script>

    <script type="text/javascript" src="{% static 'profiles/js/profile_roles/teacher.js' %}"></script>
{% endblock %}