{% extends "profiles/profile_base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_title %}| Account Settings{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/teacher_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/forms.css' %}">
{% endblock %}


{% block content %}

{% include "profiles/includes/company_admin/company_admin_sidebar.html" %}

<section class="profile-settings-page">
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>
    <header>
        <h1>Account Settings</h1>
        <hr>
        <p class="text-white mb-4 mt-4">Update your profile information.</p>    
    </header>    

    <div class="row mt-5">
        <div class="col-12 pl-0 pr-0">
            <div class="wrapper-account-settings-form">
                <div class="account-settings-form">
                    <form class="mt-3" action="{% url 'profiles:company_admin_profile_settings' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ user_form|crispy }}
                        <button class="btn btn-update text-uppercase mt-5" type="submit">
                            <i class="fa-solid fa-check-to-slot mr-3"></i>Update My Profile<i class="fa-solid fa-angles-right ml-3"></i> 
                        </button>
                    </form>                
                </div>
            </div>
       
        </div>
    </div>
</section>

{% endblock %}