.allauth-form-inner-content {
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-color: whitesmoke;
    padding: 7%;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.allauth-form-inner-content .btn-cancel {
    width: 100%;
    /* max-width: 320px;  */
    border-radius: 5px;
    font-size: 1.1rem;
    background: rgb(187, 2, 2);
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: outset 1px aquamarine;
    box-shadow: 0 1px 3px 0 #484a4d;    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content .btn-cancel:hover {
    background: red;
}


.allauth-form-inner-content button,
.allauth-form-inner-content input.btn,
.allauth-form-inner-content form input.btn {
    width: 100%;
    /* max-width: 320px;  */
    border-radius: 5px;
    font-size: 1.1rem;
    background: #003366;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: outset 1px aquamarine;
    box-shadow: 0 1px 3px 0 #484a4d;    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content button:active,
.allauth-form-inner-content button:focus,
.allauth-form-inner-content form input.btn:hover,
.allauth-form-inner-content form input.btn:active,
.allauth-form-inner-content form input.btn:focus {
    background: teal;
    color: white;
    /* font-weight: 600; */
}

#account {
    margin-top: 140px !important;
    min-height: calc(100vh - 140px);
}

.allauth-headings-custom {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 500;
    color: #003366;
    font-size: 3rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #555;
}

.form-group input:not([type='checkbox']),
.form-group input:not([class='qty-input']),
.form-group textarea,
.allauth-form-inner-content input:not([type='checkbox']) {
    border-color: #003366;
    border-radius: 5px;
}

#id_remember,
#id_reduced_groups,
#id_individual_packs {
    min-width: 15px !important;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #003366;
    border: 2px solid #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25px;
    padding: 5px 25px;
    margin: 10px 0 20px;
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content input[type='submit']:hover {	
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #003366; /* text-info */
    font-weight: 500;
}


@media (max-width: 767px) {

    .allauth-form-inner-content button,
    .allauth-form-inner-content input.btn,
    .allauth-form-inner-content form input.btn {
        width: 100% !important; 
        max-width: 100% !important; 
    }

}