{% load static %}

<div class="col-3 col-xs-3 my-auto py-1 py-lg-0 text-left d-inline d-lg-none">
    <a href="{% url 'home' %}" aria-label="go to the home page">
        <img class="logo" src="{% static 'images/logo_englishgrows.png' %}" alt="logo">
    </a>
</div>

<div class="ml-auto mr-3 mr-lg-0">
    <ul class="d-block d-lg-none pl-0">
        <li class="list-inline-item dropdown">
            <a class="text-white nav-link d-block d-lg-none" href="#" id="user-options1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fa-solid fa-circle-user fa-lg"></i></div>
                    {% if request.user.is_authenticated %}
                    <p class="my-0 text-white">{{ user.username }}</p>
                    {% else %}
                    <p class="my-0 text-white">Login</p>
                    {% endif %}
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options1">
                {% if request.user.is_authenticated %}
                <a href="" class="dropdown-item" aria-label="go to my profile page">My Profile</a>
                <a href="" class="dropdown-item" aria-label="go to log out page">Logout</a>
                {% else %}
                <a href="" class="dropdown-item" aria-label="go to the account registration page">Register</a>
                <a href="" class="dropdown-item" aria-label="go to the login page">Login</a>
                {% endif %}
            </div>
        </li>

        {% block bag_icon %}
        {% endblock %}

        <!-- <li class="list-inline-item">
            <a class="{% if grand_total %}text-info{% else %}text-black{% endif %} nav-link"
            href="" aria-label="go to the bag page to see items in bag and subtotals">
            <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg icon-nav"></i></div>
                <p class="my-0 text-white turquoise-hover">
                {% if grand_total %}
                {{ grand_total|floatformat:2 }} €
                {% else %}
                0.00 €
                {% endif %}
                </p>
            </div>
            </a>
        </li> -->
    </ul>
</div>