.course-header-meta-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 5rem 0 3rem;
}

.meta-card,
.course-meta-card {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    min-height: fit-content;
    padding: 0.15rem 1.5rem 0.15rem 0.15rem;
    /* border: 1.5px solid rgba(var(--color-turquoise-rgb), 0.35); */
    border: 1px solid rgba(199, 255, 249, 0.28);  
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(var(--color-navy-rgb), 0.96), rgba(var(--color-teal-rgb), 0.96), rgba(var(--color-teal-rgb), 0.75));    
    box-shadow: 0 4px 8px rgba(var(--color-shadow-rgb), 0.14);
}

/* .course-meta-card {
    padding: 0.35rem 0.35rem 0.35rem 2rem;
} */


.meta-card::after,
.course-meta-card::after {
    content: "";
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.course-header-meta-row .completion-ring {
    width: 60px !important;
    height: 60px !important;
    margin-right: 0;
}

.course-header-meta-row .completion-ring-value {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-whitesmoke);
    font-size: 1rem;
    font-weight: 300;
}

.meta-attendance::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background-image: url("/static/icons/clipboard_check_turquoise_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: -10%;
    right: 1%;
    transform: rotate(12deg);
    opacity: 0.1;
    pointer-events: none;
}

.meta-icon,
.course-meta-icon {
    z-index: 1;
    width: 55px;
    height: 55px;
    min-width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(var(--color-navy-rgb), 0.6);
    border: 1px solid rgba(var(--color-turquoise-rgb), 0.35);
}

.meta-icon i,
.course-meta-icon i {
    color: rgba(var(--color-turquoise-rgb), 0.9);
    font-size: 1.8rem;
}

.course-meta-icon .completion-ring {
    margin-left: 0.5rem;
}

.meta-text,
.course-meta-text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* ONLY company_admin_course_attendance */
.course-attendance .meta-text {
    padding-left: 3rem;
}

.meta-text strong,
.course-meta-text strong {
    display: block;
    color: var(--color-whitesmoke);
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    margin-top: 0;
}

.meta-text span,
.course-meta-text span {
    color: rgba(var(--color-turquoise-rgb), 0.9);
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: -0.2rem;
}


.meta-card .meta-text small {
    font-size: 1rem;
}

.metric-icon {
    position: relative;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SMALL ring: Attendance / Completion icons */
.metric-icon .progress-ring {
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background:
        conic-gradient(
            var(--color-turquoise) calc(var(--percentage) * 1%),
            rgba(var(--color-turquoise-rgb), 0.18) 0
        );
}

.metric-icon .progress-ring::after {
    content: "";
    position: absolute;
    inset: 6px;
    border-radius: 50%;
    background: #043f68;
}

.metric-icon i,
.metric-icon img {
    position: relative;
    z-index: 2;
    color: var(--color-turquoise);
    font-size: 1.2rem;
}

.course-meta-card .completion-ring {
    background:
        conic-gradient(
            var(--color-turquoise) calc(var(--completion) * 1%),
            rgba(255, 255, 255, 0.3) 0
        );

}


/* Students background icon */
.course-meta-card.meta-students::after {
    content: "\f0c0"; /* fa-users */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 5.5rem;
    color: rgba(var(--color-turquoise-rgb), 0.1);
    position: absolute;
    top: 35px;
    right: -5px;
}

/* Completion background icon */
.course-meta-card.meta-completion::after {
    content: "";
    position: absolute;
    top: 55px;
    right: -5px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background:
        conic-gradient(
            rgba(var(--color-turquoise-rgb), 0.15) 0deg 70deg,
            rgba(var(--color-turquoise-rgb), 0.07) 70deg 360deg
        );
    opacity: 1;
    pointer-events: none;
}



@media (max-width: 1199.98px) {
    .course-header-meta-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 3rem 0;
    }

    .course-meta-card.meta-completion {
        grid-column: auto;
    }

}


@media (max-width: 991.99px) {

    .dashboard-meta-cards .meta-row {
        gap: 0.5rem;
    }

    .course-header-meta-row,
    .dashboard-meta-cards .meta-row {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (max-width: 767.99px) {

    /*****************************************************|
    |*** DASHBOARD Page  *********************************|
    |*****************************************************/
    
    .dashboard-meta-cards .meta-row {
        grid-template-columns: repeat(1, 1fr);
    }

}