
{% load i18n %}

<aside id="profileSidebar" class="profile-sidebar">

    <div class="sidebar-user notranslate" translate="no">

        {% if request.user.profile.profile_photo %}
            <img src="{{ request.user.profile.profile_photo.url }}" alt="Profile photo" class="profile-photo">
        {% else %}
            <div class="sidebar-avatar">
                <i class="fa-solid fa-user"></i>
            </div>
        {% endif %}

        <h2>{{ request.user.first_name|default:request.user.username }}</h2>

        <!-- badge user role & company -->        
        <span class="text-center mt-2">
            <i class="fa-solid fa-user-tie mr-2 mr-2"></i> 
            {{ request.user.profile.get_role_display }}
            <br>
        </span>
        {% if request.user.profile.company %}
            <p class="text-center"><i class="fa-regular fa-building mr-2 mt-4"></i><strong>{{ request.user.profile.company.name }}</strong></p>
        {% endif %}

    </div>
    <hr>
 
    <nav class="sidebar-nav notranslate" translate="no" aria-label="{% trans 'Profile navigation' %}">

        <a href="{% url 'profiles:company_admin_dashboard' %}" class="sidebar-link {% if request.resolver_match.url_name == 'company_admin_dashboard' %}active{% endif %}" aria-label="{% trans 'Dashboard' %}">
            <i class="fa-solid fa-house"></i>
            <span>{% trans "Dashboard" %}</span>
        </a>

        <a href="{% url 'profiles:company_admin_courses' %}" class="sidebar-link {% if request.resolver_match.url_name == 'company_admin_courses' %}active{% endif %}" aria-label="{% trans 'Courses' %}">
            <i class="fa-solid fa-circle-info"></i>
            <span>{% trans "Courses" %}</span>
        </a>

        <a href="{% url 'profiles:company_admin_classes_list' %}" class="sidebar-link {% if request.resolver_match.url_name == 'company_admin_classes_list' %}active{% endif %}" aria-label="{% trans 'Class List' %}">
            <i class="fa-solid fa-chalkboard-user"></i>
            <span>{% trans "Class List" %}</span>
        </a>

        <a href="{% url 'profiles:company_admin_calendar' %}" class="sidebar-link {% if request.resolver_match.url_name == 'company_admin_calendar' %}active{% endif %}" aria-label="{% trans 'Calendar' %}">
            <i class="fa-regular fa-calendar-days"></i>
            <span>{% trans "Calendar" %}</span>
        </a>

        <a href="{% url 'profiles:company_admin_employees_list' %}" class="sidebar-link {% if request.resolver_match.url_name == 'company_admin_employees_list' %}active{% endif %}" aria-label="{% trans 'Performance' %}">
            <i class="fa-solid fa-chart-line"></i>
            <span>{% trans "Performance" %}</span>
        </a>

        <a href="{% url 'profiles:company_admin_all_courses_attendance' %}" class="sidebar-link {% if request.resolver_match.url_name == 'company_admin_all_courses_attendance' %}active{% endif %}" aria-label="{% trans 'Attendance' %}">
            <i class="fa-solid fa-list-check"></i>
            <span>{% trans "Attendance" %}</span>
        </a>

        <a href="{% url 'profiles:company_admin_profile_settings' %}" class="sidebar-link {% if request.resolver_match.url_name == 'company_admin_profile_settings' %}active{% endif %}" aria-label="{% trans 'Account Setting' %}">
            <i class="fa-solid fa-user-gear"></i>
            <span>{% trans "Account Settings" %}</span>
        </a>
    </nav>
    <hr>

    <a href="{% url 'account_logout' %}" class="btn-navbar mb-5 notranslate" aria-label="Logout">
        <i class="fa-solid fa-arrow-right-from-bracket mr-2 mt-1"></i>
        {% trans "Logout" %}
    </a>

</aside>

