{% extends "profiles/profile.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
{% endblock %}

{% block extra_title %}| Calendar{% endblock %}


{% block content %}

{% include "profiles/includes/shared/sidebar.html" %}
<div class="overlay-birds"></div>
<div id="my_calendar_page">
    <div class="container">
        <h1 class="mb-3">My Class Calendar</h1>
        <div id="calendar" data-events-url="{% url 'courses:my_calendar_events' %}"></div>></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script type="text/javascript" src="{% static 'courses/js/courses.js' %}"></script>
{% endblock %}
    