{% extends "profiles/profile_base.html" %}
{% load static %}
{% load i18n %}
{% load date_extras %}
{% load course_extras %}


{% block extra_title %}| Group Attendance Records {% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles_base.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profile_roles/teacher/teacher_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/features/attendance/attendance_pages.css' %}">
{% endblock %}


{% block profile_content %}

<section class="teacher-group-attendance-page profile-page course-details-page notranslate" translate="no">
    <div class="overlay-globe"></div>
    <div class="overlay-mist"></div>

    <header>
        <!-- 1st Child -->
        <div class="row mb-3">
            <div class="col-12 mb-2">
                <p class="go-back-link">
                    <a href="#" class="js-back-link notranslate" translate="no">
                        <img src="{% static 'icons/go_back_teal_icon.png' %}" alt="" width="56" aria-hidden="true">
                        {% trans 'Go Back' %}
                    </a>
                </p>
            </div>
        </div>    
        <!-- 2nd Child -->
        <div>
            <span class="level level-{{ course.course_level|lower|cut:'.' }}">
                {{ course.course_level|default:"Pending" }}</span>
            
            <h1>{{ course.name }}</h1>
        </div>
        <!-- 3rd Child -->
        <div>   
            <h2>
                <span><i class="fa-solid fa-swatchbook fa-flip-horizontal mr-3"></i>{{ course.course_type.name }}</span>
                <span>|</span>
                <span><i class="fa-regular fa-clock mr-3"></i>{{ course.total_hours|clean_decimal }} h.</span>
            </h2>
        </div>
        
        <span class="status-badge {{ course.status }} mb-3">
        {{ course.get_status_display }}</span>
        
        <hr>

    </header>

    <div class="attendance-record-card">

        <h2>
            <i class="fa-solid fa-clipboard-list mr-2"></i>
            Class Attendance Records
        </h2>

        {% if class_sessions %}
            <div class="attendance-record-table">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Class</th>
                            <th>Time</th>
                            <th>Attendance</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for session in class_sessions %}
                            <tr>
                                <td>
                                    {{ session.start_time|date:"D, j M" }}
                                </td>

                                <td>
                                    <span>Lesson {{ session.class_number }}</span>
                                </td>

                                <td>
                                    {{ session.start_time|time:"H:i" }} -
                                    {{ session.end_time|time:"H:i" }}
                                </td>

                                <td>
                                    <div class="status-pill completed">
                                        <i class="fa-solid fa-user-check"></i>
                                        <strong>{{ session.attended_count }}</strong>
                                    </div>

                                    <div class="status-pill missed">
                                        <i class="fa-solid fa-user-xmark"></i>
                                        <strong>{{ session.missed_count }}</strong>
                                    </div>

                                    <div class="status-pill pending">
                                        <i class="fa-solid fa-user-minus"></i>
                                        <strong>{{ session.excused_count }}</strong>
                                    </div>
                                </td>

                                <td class="text-right">
                                    <a href="{% url 'profiles:teacher_attendance_detail' session.id %}"
                                    class="attendance-detail-btn btn-course-details">
                                        View
                                        <i class="fa-solid fa-chevron-right ml-2"></i>
                                    </a>                                
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-white">No class sessions found for this group.</p>
        {% endif %}

    </div>

</section>

{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profile_roles/teacher.js' %}"></script>
{% endblock %}
