<!-- teacher_edit_student_skill.html -->

{% extends "profiles/profile_base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_title %}| Edit Skill Assessment{% endblock %}

{% block extra_css %}
    {{ block.super }}
<link rel="stylesheet" href="{% static 'profiles/css/profile_roles/teacher/teacher_profile.css' %}">
{% endblock %}

{% block profile_content %}

<section class="student-skill-edit-page profile-page notranslate" translate="no">
    <div class="overlay-globe"></div>
    <div class="overlay-mist"></div>

    <div class="mb-4">
        <a href="#" class="js-back-link notranslate" translate="no">
            <img src="{% static 'icons/custom/arrows/arrow_left_thin_teal_icon.png' %}" alt="" width="56" aria-hidden="true">
            {% trans 'Go Back' %}
        </a>
    </div>

    <header>
        <h1>
            Edit {{ skill_assessment.get_skill_display }}
        </h1>

        <p class="text-dark">
            <i class="fa-regular fa-circle-user mr-2"></i>{% if request.user.get_full_name %} {{ skill_assessment.student.get_full_name }} {% else %} {{ skill_assessment.student.username }} {% endif %} 
            <br>
            <i class="fa-solid fa-desktop mr-2"></i>{{ skill_assessment.course.name }}
        </p>
    </header>
    <hr>

    <form method="POST">
        {% csrf_token %}


        {{ formset.management_form }}

        {% if skill_assessment.skill == "listening" %}
        <div class="subskills-edit-list-three">
        {% elif skill_assessment.skill == "reading" %}
        <div class="subskills-edit-list-three">
        {% else %}    
        <div class="subskills-edit-list-four">
        {% endif %}
        
            {% for subform in formset %}
                <div class="subskill-edit-card">

                    {{ subform.id }}

                    <h2>
                        {{ subform.instance.get_subskill_display }}
                    </h2>

                    <div class="form-group">
                        {{ subform.rating.label_tag }}
                        {{ subform.rating }}
                        {{ subform.rating.errors }}
                    </div>

                    <p>
                        Current result:
                        <strong>{{ subform.instance.percentage }}%</strong>
                    </p>

                </div>
            {% endfor %}
            <button type="submit" class="btn btn-skill-save-assessment">
                Save skill assessment
            </button>

        </div>

    </form>

</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profile_roles/teacher.js' %}"></script>
{% endblock %}
