{% extends "profiles/profile.html" %}
{% load static %}
{% load date_extras %}
{% load course_extras %}


{% block extra_title %}| Group Attendance Records {% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/teacher_profile.css' %}">
{% endblock %}


{% block content %}

{% include "profiles/includes/teacher/teacher_sidebar.html" %}

<section class="teacher-group-attendance-page teacher-page">
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>

    <header class="mb-2">
        <div class="row mb-3">
            <div class="col-12 mb-2">
                <p class="back-to-my-assigned-courses">
                    <a href="#" class="text-white js-back-link">
                        <i class="fa-solid fa-arrow-left-long mr-3"></i>
                        Go Back
                    </a>    
                </p>
            </div>
        </div>    
        <div class="header-last-child">
            <div>
                <span class="level level-{{ course.course_level|lower|cut:'.' }} mr-4">
                    {{ course.course_level|default:"Pending" }}
                </span>
                <h1>{{ course.name }}</h1>
            </div>
            <div>
                <h2><i class="fa-solid fa-swatchbook fa-flip-horizontal mr-3"></i>{{ course.course_type.name }} | {{ course.total_hours|clean_decimal }} h.</h2>
            </div>
        </div>
    </header>

    <hr>

    <div class="attendance-record-card">

        <h2>
            <i class="fa-solid fa-clipboard-list mr-2"></i>
            Class Attendance Records
        </h2>

        {% if class_sessions %}
            <div class="attendance-record-table">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Class</th>
                            <th>Time</th>
                            <th>Attendance</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for session in class_sessions %}
                            <tr>
                                <td>
                                    {{ session.start_time|date:"D, j M" }}
                                </td>

                                <td>
                                    <span>Lesson {{ session.class_number }}</span>
                                </td>

                                <td>
                                    {{ session.start_time|time:"H:i" }} -
                                    {{ session.end_time|time:"H:i" }}
                                </td>

                                <td>
                                    <div class="status-pill completed">
                                        <i class="fa-solid fa-user-check"></i>
                                        <strong>{{ session.attended_count }}</strong>
                                    </div>

                                    <div class="status-pill missed">
                                        <i class="fa-solid fa-user-xmark"></i>
                                        <strong>{{ session.missed_count }}</strong>
                                    </div>

                                    <div class="status-pill pending">
                                        <i class="fa-solid fa-user-minus"></i>
                                        <strong>{{ session.excused_count }}</strong>
                                    </div>
                                </td>

                                <td class="text-right">
                                    <a href="{% url 'profiles:teacher_attendance_detail' session.id %}"
                                    class="attendance-detail-btn btn-course-details">
                                        View
                                        <i class="fa-solid fa-chevron-right ml-2"></i>
                                    </a>                                
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-white">No class sessions found for this group.</p>
        {% endif %}

    </div>

</section>

{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/teacher.js' %}"></script>
{% endblock %}
