{% extends "profiles/profile.html" %}
{% load static %}
{% load date_extras %}


{% block extra_title %}| My Groups {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/teacher_profile.css' %}">
{% endblock %}


{% block content %}

{% include "profiles/includes/teacher/teacher_sidebar.html" %}

<section class="teacher-dashboard">    
    <div class="overlay-birds"></div>
    <div class="overlay-dark-teal"></div>

    <header class="row mb-4">
        <div class="col-12 pl-0">
            <h1>Welcome, {{ request.user.first_name|default:request.user.username }}</h1>
        </div>
    </header>


    <div class="wrapper-next-class-card mt-5">
        
        <div class="today-classes-card">

            <div class="today-card-left">
                <div class="today-icon">
                    <i class="fa-regular fa-calendar-days"></i>
                </div>

                <div class="today-title">
                    <h3>Today's Classes</h3>
                    <span>{{ today|ordinal_sup|safe }}</span>
                </div>
            </div>

            <div class="today-sessions-list">
                {% if todays_sessions %}
                    {% for session in todays_sessions %}
                        <div class="today-class-info">
                            <div class="today-class-main">
                                <div class="today-time">
                                    {{ session.start_time|time:"H:i" }}
                                </div>

                                <div class="today-course">
                                    <strong>{{ session.course.name }}</strong>
                                    - Lesson {{ session.class_number }}
                                </div>
                            </div>    
                            <!-- <div class="today-students">
                                <i class="fa-solid fa-user-group"></i>
                                <span>{{ session.course.enrollments.all|length }} Students</span>
                            </div> -->

                            {% if session.meeting_link %}
                                <a href="{{ session.meeting_link }}" class="today-class-btn btn" target="_blank"  rel="noopener">
                                    <i class="fa-solid fa-video mr-2"></i> Start Class
                                </a>
                            {% else %}
                                <a href="{% url 'profiles:teacher_calendar' %}" class="today-class-btn btn">
                                    <i class="fa-regular fa-calendar-days mr-2"></i> To Calendar
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No upcoming class scheduled for today.</p>
                {% endif %}
            </div>

        </div>
    </div>

</section>
{% endblock %}
