{% extends "profiles/profile_base.html" %}
{% load static %}
{% load i18n %}
{% load date_extras %}
{% load course_extras %}


{% block extra_title %}| My Groups {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles_base.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profile_roles/teacher/teacher_profile.css' %}">
{% endblock %}


{% block profile_content %}

<section class="teacher-course-students-list profile-page course-details-page notranslate" translate="no">    
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>
        
    <header>
        <!-- 1st Child -->
        <div class="row mb-3">
            <div class="col-12 mb-2">
                <p class="go-back-link">
                    <a href="#" class="js-back-link notranslate" translate="no">
                        <img src="{% static 'icons/go_back_teal_icon.png' %}" alt="" width="56" aria-hidden="true">
                        {% trans 'Go Back' %}
                    </a>
                </p>
            </div>
        </div>    
        <!-- 2nd Child -->
        <div>
            <span class="level level-{{ course.course_level|lower|cut:'.' }}">
                {{ course.course_level|default:"Pending" }}</span>
            
            <h1>{{ course.name }}</h1>
        </div>
        <!-- 3rd Child -->
        <div>   
            <h2>
                <span><i class="fa-solid fa-swatchbook fa-flip-horizontal mr-3"></i>{{ course.course_type.name }}</span>
                <span>|</span>
                <span><i class="fa-regular fa-clock mr-3"></i>{{ course.total_hours|clean_decimal }} h.</span>
            </h2>
        </div>
        
        <span class="status-badge {{ course.status }} mb-3">
        {{ course.get_status_display }}</span>
        
        <hr>

    </header>

    <div class="wrapper-course-detail-cards">
        <div class="course-details-card">
            <div class="student-list-header">
                <h3><i class="fa-regular fa-address-book mr-3"></i>
                    Student List : {{ enrollments|length }} Students
                </h3>

                {% if bcc_student_emails %}
                <div class="email-all">
                    <a 
                        href="mailto:?bcc={{ bcc_student_emails }}"
                        class="btn-email-all">
                        <i class="fa-solid fa-envelope mr-2"></i>
                        {% trans 'Email all' %}
                        <i class="fa-solid fa-chevron-right ml-2"></i>
                    </a>
                {% endif %}
                    <!-- <a href="{% url 'profiles:teacher_course_details' course.id %}" class="btn-email-all">
                        <i class="fa-regular fa-eye mr-2"></i>
                        View
                        <i class="fa-solid fa-chevron-right ml-2"></i>
                    </a> -->
                </div>    
            </div>                    
            <!-- <h3><i class="fa-regular fa-address-book mr-3"></i>Student List</h3> -->
            <div class="course-detail-grid"> 

                    {% if enrollments %}
                    <div class="student-row-parent">
                        {% for enrollment in enrollments %}
                            <div class="student-row">
                                <button type="button"
                                        class="level level-{{ enrollment.student.profile.current_level|lower|cut:'.' }} mr-2"
                                        onclick="toggleLevelForm('{{ enrollment.id }}')">
                                    {{ enrollment.student.profile.current_level|default:"?" }}
                                </button>  
                                <form method="POST"
                                    action="{% url 'profiles:update_student_level' course.id enrollment.id %}"
                                    class="d-none"
                                    id="level-form-{{ enrollment.id }}">

                                    {% csrf_token %}

                                    <select name="current_level">
                                        {% for value, label in level_choices %}
                                            <option value="{{ value }}"
                                                {% if enrollment.student.profile.current_level == value %}selected{% endif %}>
                                                {{ label }}
                                            </option>
                                        {% endfor %}
                                    </select>

                                    <button type="submit">Save</button>
                                </form>                                  


                                <div>
                                    <strong>
                                        {{ enrollment.student.get_full_name|default:enrollment.student.username }}
                                    </strong>
                                    <a href="mailto: {{ enrollment.student.email }}">
                                        <span>{{ enrollment.student.email }}</span>
                                    </a>
                                </div>


                                <a href="{% url 'profiles:teacher_student_detail' course.id enrollment.id %}" class="btn-to-student-detail">
                                    <i class="fa-regular fa-eye mr-2"></i>
                                    View
                                    <i class="fa-solid fa-chevron-right ml-2"></i>
                                </a>

                            </div>

                        {% endfor %}

                    {% else %}
                        <p class="text-white">No students enrolled yet.</p>
                    {% endif %}
                    </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profile_roles/teacher.js' %}"></script>
{% endblock %}
    