{% extends "profiles/profile.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
<link rel="stylesheet" href="{% static 'profiles/css/calendar.css' %}">
{% endblock %}

{% block extra_title %}| Calendar{% endblock %}


{% block content %}

{% include "profiles/includes/teacher/teacher_sidebar.html" %}

<div class="overlay-birds"></div>
<div class="overlay-dark-teal"></div>

<div id="my_calendar_page">
    <div class="container">
        <h1 class="mb-5">My Classes Calendar</h1>
        <div id="calendar" class="my-calendar" data-events-url="{% url 'profiles:teacher_calendar_events' %}"></div>
    </div>
</div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script type="text/javascript" src="{% static 'profiles/js/calendar.js' %}"></script>
{% endblock %}
    