{% extends "profiles/profile.html" %}
{% load static %}
{% load date_extras %}
{% load course_extras %}


{% block extra_title %}| Take Attendance {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/teacher_profile.css' %}">
{% endblock %}

{% block content %}

{% include "profiles/includes/teacher/teacher_sidebar.html" %}

<section class="teacher-attendance-page take-attendance-page teacher-take-attendance-page teacher-page">
    <div class="overlay-birds"></div>
    <div class="overlay-dark-teal"></div>

    <header>
        <p class="back-to-attendance">
            <a href="#" class="text-white js-back-link">
                <i class="fa-solid fa-arrow-left-long mr-3"></i>
                Go Back
            </a>    
        </p>

        <h1 class="mb-5 mt-4">Take Attendance</h1>
        <hr>

        <!-- <p>
            <strong>
                <i class="fa-solid fa-clipboard-user mr-3"></i>
                {{ class_session.course.name }}
            </strong> 
            · Lesson {{ class_session.class_number }}
        </p>

        <p class="mb-4">
            <i class="fa-regular fa-calendar mr-3"></i>
            {{ class_session.start_time|date:"D, d M Y" }} | {{ class_session.start_time|time:"H:i" }} - {{ class_session.end_time|time:"H:i" }}
        </p>
        <hr> -->

    </header>


    <form method="POST" class="take-attendance-form">
        {% csrf_token %}

        <div class="take-attendance-card">

            <div class="take-attendance-card-header">
                <div>
                    <p>
                        <strong>
                            <i class="fa-solid fa-clipboard-user mr-3"></i>
                            {{ class_session.course.name }}
                        </strong> 
                        · Lesson {{ class_session.class_number }}
                    </p>
                    <p>
                        <i class="fa-regular fa-calendar mr-3"></i>
                        {{ class_session.start_time|date:"D, d M Y" }}
                    </p>
                    <p class="mb-4">
                        <i class="fa-regular fa-calendar mr-3"></i>
                        {{ class_session.start_time|time:"H:i" }} - {{ class_session.end_time|time:"H:i" }}
                    </p>
                </div>
                <div class="mark-all-actions">
                    <button type="button" class="mark-all-btn mark-all-attended-btn" data-status="attended">
                       <i class="fa-solid fa-users-viewfinder mr-2"></i> ALL <i class="fa-solid fa-user-check ml-2"></i>
                    </button>
                    <button type="button" class="mark-all-btn mark-all-missed-btn" data-status="missed">
                        <i class="fa-solid fa-users-viewfinder mr-2"></i> ALL <i class="fa-solid fa-user-xmark ml-2"></i>
                    </button>
                    <button type="button" class="mark-all-btn mark-all-excused-btn" data-status="excused">
                        <i class="fa-solid fa-users-viewfinder mr-2"></i> ALL <i class="fa-solid fa-user-minus ml-2"></i>
                    </button>
                </div>

            </div>    
            <div class="w-100">
                <p>Mark each student as:</p>
                <div class="detail-summary-buttons mt-3 mb-3">

                    <div class="attendance-summary-card">
                        <div class="status-pill completed">
                            <i class="fa-solid fa-user-check"></i>
                        </div>
                        <div>
                            <span>Attended</span>
                        </div>
                    </div>

                    <div class="attendance-summary-card">
                        <div class="status-pill missed">
                            <i class="fa-solid fa-user-xmark"></i>
                        </div>
                        <div>
                            <span>Missed</span>
                        </div>
                    </div>

                    <div class="attendance-summary-card">
                        <div class="status-pill pending">
                            <i class="fa-solid fa-user-minus"></i>
                        </div>
                        <div>
                            <span>Excused</span>
                        </div>
                    </div>

                </div>



            </div>


            <div class="take-attendance-list">

                {% for enrollment in enrollments %}
                    <div class="take-attendance-row">

                        <div class="student-main-info">
                            <div class="student-avatar">
                                {% if enrollment.student.profile.profile_photo %}
                                    <img src="{{ enrollment.student.profile.profile_photo.url }}" alt="{{ enrollment.student.get_full_name }}">
                                {% else %}
                                    <i class="fa-solid fa-user"></i>
                                {% endif %}
                            </div>

                            <div>
                                <h3>
                                    {% if enrollment.student.get_full_name %}
                                        {{ enrollment.student.get_full_name }}
                                    {% else %}
                                        {{ enrollment.student.username }}
                                    {% endif %}
                                </h3>
                                <span>{{ enrollment.student.email }}</span>
                            </div>
                        </div>

                        <div class="attendance-radio-group">

                            <label class="attendance-radio-pill attended">
                                <input type="radio"
                                        name="attendance_{{ enrollment.student.id }}"
                                        value="attended"
                                        {% if enrollment.current_attendance.status == "attended" %}checked{% endif %}>
                                <div class="status-pill completed">
                                    <i class="fa-solid fa-user-check"></i>
                                </div>
                            </label>

                            <label class="attendance-radio-pill missed">
                                <input type="radio"
                                       name="attendance_{{ enrollment.student.id }}"
                                       value="missed"
                                       {% if enrollment.current_attendance.status == "missed" %}checked{% endif %}>
                                <div class="status-pill missed">
                                    <i class="fa-solid fa-user-xmark"></i>
                                </div>
                            </label>

                            <label class="attendance-radio-pill excused">
                                <input type="radio"
                                       name="attendance_{{ enrollment.student.id }}"
                                       value="excused"
                                       {% if enrollment.current_attendance.status == "excused" %}checked{% endif %}>
                                <div class="status-pill pending">
                                    <i class="fa-solid fa-user-minus"></i>
                                </div>
                            </label>

                        </div>

                    </div>
                {% empty %}
                    <p class="attendance-empty-message">No active students found for this class.</p>
                {% endfor %}

            </div>


            <div class="take-attendance-save-bar">
                <a href="{% url 'profiles:teacher_attendance' %}" class="take-attendance-cancel-btn">
                   <i class="fa-regular fa-circle-xmark mr-2"></i> Cancel
                </a>

                <button type="submit" class="take-attendance-save-btn">
                    <i class="fa-regular fa-floppy-disk mr-2"></i>
                    Save Attendance
                </button>
            </div>
        </div>

    </form>

</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/teacher.js' %}"></script>
{% endblock %}