.course-details-page header,
.course-attendance-details header {
    width: 100%;
    margin: 2rem 0 0;
    border-bottom: 1px solid rgba(var(--color-teal-rgb), 0.3);
    background-color: rgba(var(--color-frozen-water-rgb), 0.3);    
    border-radius: 8px;
}

.course-details-page header {
    padding: 0 0 1rem;
}

/* .course-attendance-details header {
    padding: 1rem 0 ;
    border-top: 1px solid rgba(var(--color-teal-rgb), 0.3);
} */

/* Course selector inside header */
.course-details-page header > .course-selector-wrapper {
    margin-bottom: 2rem;
}

/* .course-attendance-details header > div:nth-child(1) {
    margin-top: 2rem;
} */

/* Course name in header */
/* .course-attendance-details header > div:nth-child(1), */
.course-details-page header > .course-header-info {
    gap: 0.35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 4%;
}

/* Course Level in header */
/* .course-attendance-details header > div:nth-child(2), */
.course-details-page header > .course-header-level {
    gap: 1.95rem;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 1rem 0 1.5rem;
    padding: 0 4%;
}    

/* MY-COURSE  Header */
#my-course .course-details-page header {
    max-width: 1200px;
}

.course-details-page header h1,
.course-attendance-details header h1 {
    color: var(--color-navy);
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.course-details-page header h2, 
.course-attendance-details header h2 {
    color: rgba(var(--color-navy-rgb), 0.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0px;
    padding-top: 0.75rem;
    margin-top: 0.75rem;
    font-weight: 500 !important;
    border-top: 1px solid var(--color-teal);
}

.course-type img {
    opacity: 0.8;
}

/* horizontal line separating course type | total_hours */
.course-details-page header h2 > span:nth-child(2),
.course-attendance-details header h2 > span:nth-child(2) {
    padding: 0 .8rem;
    color: var(--color-teal);
}


@media (max-width: 767.98px) {

    .course-details-page,
    .course-attendance-details {
        padding: 0 4% 70px;
    }

    .course-details-page header,
    .course-attendance-details header {
        text-align: center;
    }
/* 
    .course-attendance-details header > div:nth-child(1), */
    .course-details-page header > .course-header-info {
        flex-direction: column;
    }

    .course-details-page header h1,
    .course-attendance-details header h1 {
        text-align: left;
        font-weight: 700;
        padding-left: 0;
    }

    .course-details-page header h2,
    .course-attendance-details header h2 {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .course-details-page header h2 span:nth-of-type(2),
    .course-attendance-details header h2 span:nth-of-type(2) {
        display: none;
        visibility: hidden;
    }


}



@media (max-width: 576px) {

    .course-details-page,
    .course-attendance-details {
        padding: 0 3% 70px;
    }

    .course-details-page header h1,
    .course-attendance-details header h1 {
        padding: 0;
    }

}



@media (max-width: 419.98px) {
    
    .course-details-page header > .course-header-level,
    .course-attendance-details header > div:nth-child(2) {
        flex-direction: column;
        gap: 1rem;
        justify-self: flex-start;
    }


    .course-details-page header > .course-header-level .status-badge.status-course,
    .course-attendance-details > div:nth-child(2) .status-badge.status-course {
        margin-right: auto;
    }

}