/************************************************|
**** company_admin_course_details.html **********|
*********************************************** */
.course-details-page {
    padding: 20px 5% 70px;
    width: 100%;
    min-height: 100vh;
}

/* PAGE GRID CONFIG */
.course-details-three-col {
    width: 100%;
    display: grid;
}

.course-details-page .course-header-meta-row {
    margin: 3rem 0 5rem !important;
}

.course-header-meta-row img {
    opacity: 0.75;
}

/* All boxes */
.wrapper-course-detail-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    align-items: start;
    max-width: 100%;
}

/* Each child of wrapper must be allowed to shrink */
.wrapper-course-detail-cards > * {
    min-width: 0;
}

.course-detail-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
}

.course-detail-item {
    background: var(--color-whitesmoke);
    border-top: 1px solid rgba(var(--color-teal-rgb), 0.45);
    padding: 1.75rem 0.5rem;
    margin-top: 0.5rem;
}

.course-detail-item > div:first-of-type {
    background-color: rgba(var(--color-teal-rgb), 0.1);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: 1px solid #dfe5e4;
    box-shadow: 0 1px 2px rgba(var(--color-shadow-rgba));
    margin: 0 0 1rem;
}

.course-detail-item span {
    display: block;
}

.course-detail-item hr {
    border: 1px solid rgba(var(--color-turquoise-rgb), 0.2);
    border-radius: 0;
    margin: 0.5rem auto;
}

.course-detail-item > div:first-of-type {
    background-color: rgba(var(--color-teal-rgb), 0.05);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(var(--color-teal-rgb), 0.1);
    box-shadow: 0 4px 10px rgba(var(--color-shadow-rgb), 0.02);
    margin: 0 0 1rem;
}

.detail-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba(var(--color-teal-rgb), 0.1);
    align-content: flex-start;
    flex-wrap: wrap;
}

.detail-row:not(:first-child) {
    padding: 0.75rem 1rem;
}

.detail-row:last-child {
    border-bottom: none;
}

.detail-row img {
    padding-top: 0.25rem;
}

.detail-row div > strong {
    color: var(--color-teal);
    font-weight: 600 !important;
}

.detail-row strong {
    font-weight: 500;
}

.detail-row span,
.detail-row a {
    color: var(--color-slate);
    font-weight: 500;
}

.detail-row a:hover {
    color: var(--color-teal);
    font-weight: 600;
}


#short-final-class {
    background-color: rgba(var(--color-steel-rgb), 0.1);
    border-radius: 8px;
    padding: 0.5rem;
}

.course-details-card,
.course-info-card,
.course-progress-card,
.course-materials-card {
    border-radius: 8px;
    margin: 0;
    padding: 1rem .5rem 0.5rem;
    border: 2px solid rgba(var(--color-teal-rgb), 0.25);
    width: 100%;
    background-color: var(--color-whitesmoke);
    box-shadow: 0 8px 20px rgba(var(--color-slate-rgb), 0.1);
}

.course-materials-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1.5rem;
    align-items: center;
}

.course-details-card h3,
.course-info-card h3,
.course-progress-card h3 {
    display: flex;
    align-items: center;
    height: 52px;
    background: rgba(var(--color-whitesmoke-rgb), 1);
    position: relative;
    color: var(--color-navy);
    font-weight: 600;
    padding: 0 1.5rem 0 1.5rem;
    margin-bottom: 0;
    overflow: hidden;
}

.course-details-card h3::after {
    content: "";
    position: absolute;
    top: 69%;
    right: 2%;
    width: 85px;
    height: 85px;
    transform: translateY(-50%) rotate(-12deg);
    background-image: url(/static/icons/meta_calendar_teal_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.07;
}

.course-info-card h3::after {
content: "";
    position: absolute;
    top: 69%;
    right: 2%;
    width: 80px;
    height: 80px;
    transform: translateY(-50%) rotate(-12deg);
    background-image: url(/static/icons/metacard_info_teal_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.07;
}

.course-progress-card h3::after {
    content: "";
    position: absolute;
    top: 69%;
    right: 2%;
    width: 85px;
    height: 85px;
    transform: translateY(-50%) rotate(-12deg);
    background-image: url(/static/icons/meta_overall_assessment_teal_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.07;
}


.course-progress-card .metric-icon .progress-ring::after {
    background: rgba(var(--color-whitesmoke-rgb), 1);
}


/* *********************************************************************** */
/* *** MEDIA QUERIES ***************************************************** */

@media (min-width:1200px) and (max-width: 1439.98px) {

   .detail-row {
        grid-template-columns: 1fr;
    }

}



@media (max-width: 1199.98px) {
    
    .course-details-page .wrapper-course-detail-cards {
        grid-template-columns: 1fr;
    }

    .course-details-page .wrapper-course-detail-cards:nth-child(1) {
        width: 100%;
    }

    /* .course-details-page .wrapper-course-detail-cards:nth-child(2) {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        margin-top: 2.5rem;
    }

    .course-details-page .wrapper-course-detail-cards:nth-child(3) {
        grid-column: 1 / span 3;
        grid-row: 3 / span 3;
        margin-top: 2.5rem;
    } */
    /* .detail-row {
        grid-template-columns: minmax(190px, 0.75fr) minmax(220px, 0.75fr);
    }
 */
    .course-materials-card {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 1.5rem;
        align-items: baseline;
    }

}



@media (max-width:991.98px) {

    /*************************************************|
    |*** ONLY TEACHER COURSE DETAILS Page ************/

    .course-materials-card {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 1.5rem;
        align-items: baseline;
    }

    .course-details-masonry {
        grid-template-columns: 1fr;
    }

    .wrapper-course-detail-cards:nth-child(1),
    .wrapper-course-detail-cards:nth-child(2),
    .wrapper-course-detail-cards:nth-child(3),
    .wrapper-course-detail-cards:nth-child(4) {
        grid-column: 1;
        grid-row: auto;
    }

}



@media (max-width: 767.98px) {

    /*****************************************************|
    |*** COURSES Page  ***********************************/

    .wrapper-assigned-courses-panel {
        margin: 1rem auto;
    }

    /* .course-details-page {
        padding: 0 12% 70px;
    } */


    /*****************************************************|
    |*** CCOMPANY ADMIN COURSE DETAILS Page  *************/
    

    .course-details-page .course-detail-grid {
        grid-template-columns: 1fr;
    }

    .course-details-page .course-header-meta-row {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .course-details-page .course-meta-card {
        padding: 0.15rem 1rem 0.15rem 0.25rem;
    }
    
}



@media (max-width: 600px) {
    
    /* .course-details-page .detail-row {
        grid-template-columns: 1fr;
    } */

}
