/* .student-list {
    border-radius: 8px;
    margin: 0;
    padding: .15rem;
    width: 100%;
} */

h3 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: .75rem;
    color: var(--color-whitesmoke);
    padding: 0.75rem 1.1rem 0.75rem 2rem;
    background: linear-gradient(214deg, rgba(var(--color-navy-rgb), 0.95), rgba(var(--color-teal-rgb), 0.85));
    border-radius: 999px;
    height: 58px;
}

h3 > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.student-list-header h3 strong {
    font-weight: 500;
}

.student-list-header h3 span {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--color-turquoise);
    font-size: 1.2rem;
    font-weight: 500;
}

.email-all {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.company-admin-employees-list-page .meta-row {
    display: flex;
    flex-direction: row;
    margin: 3rem auto;
}

.company-admin-employees-list-page .meta-card {
    width: 280px;
}

.company-admin-employees-list-page .meta-card img {
    opacity: 0.75;
}

/************************************************|
**** EMPLOYEES_LIST Page ************************|
*********************************************** */

.wrapper-employees-list {
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 0 8px 20px rgba(var(--color-shadow-rgba));
    background: rgba(var(--color-mist-rgb), 0.6);
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    /* smoother horizontal scrolling on touch devices */
    -webkit-overflow-scrolling: touch;
}

.employees-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 1.2rem; */
    background-color: var(--color-whitesmoke);
    margin-top: 0;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 100%;
    min-width: 1000px;
}

.employees-list-row {
    display: grid;
    grid-template-columns: 60px minmax(420px, 480px) 1fr auto;
    border-bottom: 1px solid rgba(var(--color-teal-rgb), 0.2);
    padding: 1rem 0;
    gap: 1.2rem;
    align-items: center;
}

.employees-list-grid div:last-child,
.assigned-classes-list a > div.assigned-classes-row:last-of-type {
    border-bottom: none !important;
}

/******************************************************************************************************************|
**** company_admin_amployees_list.html ****************************************************************************|
***** Sidebar: PERFORMANCE ****************************************************************************************|
/* CLASS from PAGE = .company-admin-employees-list-page */

.company-admin-employees-list-page h1 {
    margin-bottom: 0;
}

.company-admin-employees-list-page p:first-of-type {
    margin: 0;
    color: var(--color-navy);
    font-size: 1rem;
}

.company-admin-employees-list-page .employees-list-row .main-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    /* gap: 0.25rem; */
    width: 100%;
    max-width: 100%;
    min-width: 0;
} 

.company-admin-employees-list-page .employees-list-row .main-info strong {
    color: var(--color-navy);
}

.company-admin-employees-list-page .employees-list-row .main-info a span {
    color: var(--color-steel);
}

.company-admin-employees-list-page .employees-list-row .main-info a span:hover {
    font-weight: 500;
}

.company-admin-employees-list-page .employees-list-row .employee-level {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.company-admin-employees-list-page .employees-list-row .employee-level .level {
    width: 60px;
    box-shadow: 0 3px 3px rgba(var(--color-shadow-rgba));
}

.company-admin-employees-list-page .employees-list-row .review .btn-to-student-detail {
    background: linear-gradient(123deg, rgba(var(--color-navy-rgb), 0.25), rgba(var(--color-teal-rgb), 0.55));
    transition: transform 0.2s ease, background 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    color: var(--color-navy);
}

.company-admin-employees-list-page .employees-list-row .review .btn-to-student-detail:hover {
    color: var(--color-whitesmoke);
    transform: translateY(-0.5px);
    background: linear-gradient(135deg, #00acaf, #008589);
    box-shadow: 0 10px 20px rgba(0, 122, 125, 0.24);
}

.company-admin-employees-list-page .employees-list-row .review .btn-to-student-detail img {
    width: 28px;
    margin-left: .5rem;
}

/* ************************************************************************************************************************************* */

.small-avatar {
    position: relative;
    width: 60px;
    height: 60px;    border-radius: 50%;
    background: rgba(var(--color-turquoise-rgb), 0.16);
    border: 1px outset rgba(170, 170, 170, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:visible;
    min-width: fit-content;
    color: var(--color-teal);
    box-shadow: 0 3px 3px rgba(var(--color-shadow-rgba));
    z-index: 1;
}

.small-avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* USER ENROLLMENT STATUS DOT */
.employees-list-row .small-avatar-status-dot {
    position: absolute;
    right: -5%;
    bottom: 8%;
    width: 12px;
    height: 12px;
    border: 1px solid var(--color-teal);
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(4, 31, 54, 0.35);
    z-index: 10;
}

.small-avatar.status-active .small-avatar-status-dot {
    background-color: var(--color-active-dot);
}

.small-avatar.status-paused .small-avatar-status-dot {
    background-color: var(--color-paused-dot);
}

.small-avatar.status-completed .small-avatar-status-dot {
    background-color: var(--color-completed-dot);
}

.small-avatar.status-cancelled .small-avatar-status-dot {
    background-color: var(--color-cancelled-dot);
}
/* user not enrolled in any course */
.small-avatar.status .small-avatar-status-dot {
    background-color: var(--color-inactive-dot);
}

/* END OF AVATAR STATUS DOT - PROFILE STATUS **************/

/* TOOLBAR TO SORT LEARNERS BY NAME & LEVEL */

.employees-list-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(var(--color-turquoise-rgb), 0.8);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 0;
    padding: 0.75rem 1rem;
    width: 100%;
    min-width: 1000px;
    background-color: rgba(var(--color-whitesmoke-rgb), 0.8);
}

.sort-label {
    display: flex;
    flex-shrink: 0;

    color: var(--color-navy);
    font-size: 1rem;
    font-weight: 500;
}

.sort-label i {
    color: var(--color-navy);
    font-size: 1.2rem;
    align-self: center;
}


/* SORT OPTIONS
---------------------------------- */

.sort-options {
    display: flex;
    align-items: center;

    padding: 0.2rem;

    background-color: rgba(var(--color-navy-rgb), 0.8);

    border: 1px solid rgba(var(--color-turquoise-rgb), 0.35);
    border-radius: 6px;
}

.sort-option {
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;

    padding: 0.4rem 0.8rem;

    border-radius: 4px;

    color: rgba(var(--color-whitesmoke-rgb), 0.8);
    font-size: 1rem;
    font-weight: 500;

    text-decoration: none;

    transition:
        color 0.2s ease,
        background-color 0.2s ease;
}

.sort-option:hover {
    color: var(--color-turquoise);
    text-decoration: none;
    background-color: rgba(var(--color-turquoise-rgb), 0.14);
}

.sort-option.active {
    color: var(--color-turquoise);
    background-color: rgba(var(--color-turquoise-rgb), 0.14);
}


/* Override for correct layout chevron-down from form */
.course-select {
    padding: 0.45rem 3.75rem 0.45rem 1.1rem;
}

@media (max-width: 1250px) {


}



@media (max-width: 991.98px) {

}


@media (max-width: 767.98px) {

    /* EMPLOYEES LIST page ***********************************/
    .student-row.employees-list {
        display: grid;
        grid-template-columns: 1fr !important;
        align-items: center;
        column-gap: 1rem;
        width: 100%;
    }

    .student-row.employees-list .review {
        grid-column: 1 ;
        display: flex ;
        flex-direction: column;

        row-gap: 0.6rem;
        justify-items: baseline;
        align-content: baseline;
    }

    .student-row.employees-list .review .btn-to-student-detail {
        display: inline-block !important;
        width: 100%;
    }

}



@media (max-width: 576px) {

    .company-admin-employees-list-page .meta-row {
        flex-direction: column;
        gap: 1rem;
    }

    .company-admin-employees-list-page .meta-card {
        width: 100%;
    }

    .employees-list-toolbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.1rem;
        padding-top: 2rem;
    }

    .course-details-page .student-row-parent,
    .teacher-course-details-page .student-row-parent {
        padding: 0;
    }

    .course-details-page .student-row,
    .teacher-course-details-page .student-row {
        padding: 0.25rem 0.25rem 0.75rem;
    }


}
