{% extends "base.html" %}
{% load static %}


{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div id="error"></div>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-12 my-auto ml-md-0 mr-md-0">
            <h1 class="display-4 text-white charmonman-title ">
                <br> <span class="eg-font text-uppercase">404 Error</span><br> <span class="charmonman-title ml-5">Oops!</span>
            </h1>
            <div class="my-5">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4 text-center text-sm-left mt-2">
                        <span role="button">
                            <a href="{% url 'home' %}" class="index-cta-button btn btn-lg rounded-pill text-uppercase py-3" aria-label="go to the home page">Return Home</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}