
{% load static i18n %}

<aside id="profileSidebar" class="profile-sidebar notranslate" translate="no">

    <div class="sidebar-user">

        {% if request.user.profile.profile_photo %}
            <img src="{{ request.user.profile.profile_photo.url }}" alt="{% trans 'Profile photo' %}" class="profile-photo">
        {% else %}
            <div class="sidebar-avatar">
                <img src="{% static 'icons/sidebar_no_photo_user_icon.png' %}" alt="" aria-hidden="true" width="60">
            </div>
        {% endif %}

        <h2>{{ request.user.first_name|default:request.user.username }}</h2>

        <!-- badge user role & company -->        
        <span class="text-center mt-2">
                <img src="{% static 'icons/role_user_icon.png' %}" alt="" aria-hidden="true" width="18" class="mr-2 mb-1">
            {{ request.user.profile.get_role_display }}
        </span>
        {% if request.user.profile.company %}
            <p class="text-center"><i class="fa-regular fa-building mr-2 mt-4"></i><strong>{{ request.user.profile.company.name }}</strong></p>
        {% endif %}

    </div>    
    <hr>

    <nav class="sidebar-nav" aria-label="{% trans 'Profile navigation' %}">

        <a href="{% url 'profiles:profile' %}" class="sidebar-link {% if request.resolver_match.url_name == 'student_dashboard' %}active{% endif %}" aria-label="{% trans 'Dashboard' %}">
            <i class="fa-solid fa-house"></i>
            <span>{% trans "Dashboard" %}</span>
        </a>

        <a href="{% url 'profiles:my_course' %}" class="sidebar-link {% if request.resolver_match.url_name == 'my_course' %}active{% endif %}" aria-label="{% trans 'Course Info' %}">
            <i class="fa-solid fa-circle-info"></i>
            <span>{% trans "Course Info" %}</span>
        </a>

        <a href="{% url 'profiles:my_calendar' %}" class="sidebar-link {% if request.resolver_match.url_name == 'my_calendar' %}active{% endif %}" aria-label="{% trans 'Calendar' %}">
            <i class="fa-regular fa-calendar-days"></i>
            <span>{% trans "Calendar" %}</span>
        </a>

        <a href="{% url 'profiles:my_learning_progress' %}" class="sidebar-link {% if request.resolver_match.url_name == 'my_learning_progress' %}active{% endif %}" aria-label="{% trans 'My Performance' %}">
            <i class="fa-solid fa-chart-line"></i>
            <span>{% trans "My Performance" %}</span>
        </a>

        <a href="#" class="sidebar-link {% if request.resolver_match.url_name == '#' %}active{% endif %}" aria-label="{% trans 'Materials' %}">
            <i class="fa-solid fa-folder-open"></i>
            <span>{% trans "Materials" %}</span>
        </a>

        <a href="{% url 'profiles:profile_settings' %}" class="sidebar-link {% if request.resolver_match.url_name == 'profile_settings' %}active{% endif %}" aria-label="{% trans 'Account Setting' %}">
            <i class="fa-solid fa-user-gear"></i>
            <span>{% trans "Account Settings" %}</span>
        </a>
    </nav>
    <hr>

    <a href="{% url 'account_logout' %}" class="btn-navbar mb-5" aria-label="Logout">
        <img src="{% static 'icons/nav_logout_icon.png' %}" alt="" aria-hidden="true" width="20" class="mr-3">
        {% trans "Logout" %}
    </a>

</aside>

