{% extends "profiles/profile_base.html" %}
{% load static %}
{% load date_extras %}
{% load course_extras %}
{% load time_extras %}


{% block extra_title %}| Course Info{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/teacher/teacher_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/student/learner_profile.css' %}">
{% endblock %}


{% block profile_content %}

<section class="my-course">    
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>
  
    {% if active_enrollments|length > 1 %}
        <form method="get" class="course-selector-form">

            <label for="course-select" class="course-selector-label">
                <img src="{% static 'icons/one_to_one_course_icon.png' %}" alt="icon">
                <span>My active course</span>
            </label>

            <div class="course-select-wrapper">

                <select
                    id="course-select"
                    name="course"
                    class="course-select"
                    onchange="this.form.submit()"
                >

                    {% for item in active_enrollments %}
                        <option
                            value="{{ item.course.id }}"
                            {% if active_enrollment and item.id == active_enrollment.id %}
                                selected
                            {% endif %}
                        >
                            {{ item.course.name }}
                        </option>
                    {% endfor %}

                </select>

                <i class="fa-solid fa-chevron-down course-select-arrow"></i>

            </div>

        </form>
    {% endif %}

    <header>
        <!-- 1st Child -->
        <div>
            <!-- <i class="fa-solid fa-chalkboard-user mr-3"></i> -->
            <div>
                <!-- <div class="title-course-name">
                    {% if active_enrollments|length <= 1 %}
                        <img src="{% static 'icons/one_to_one_course_icon.png' %}" alt="icon">
                    {% elif active_enrollments|length > 1 %}
                        <img src="{% static 'icons/group_course_icon.png' %}" alt="icon">
                    {% endif %}
                    <h1>{{ active_enrollment.course.name|default:"Course Name" }}</h1>
                </div> -->
                <h1>{{ active_enrollment.course.name|default:"Course Name" }}</h1>
                <h2>
                    <span class="text-muted"><i class="fa-solid fa-swatchbook fa-flip-horizontal mr-3"></i>{{ active_enrollment.course.course_type.name }}</span>
                    <span>|</span>
                    <span class="text-muted"><i class="fa-solid fa-clock-rotate-left fa-flip-horizontal mr-3"></i>{{ active_enrollment.course.total_hours|clean_decimal }} h.</span>
                </h2>

            </div>
        </div>
        <div>
            <div class="col-12 level-pill">
                <span class="current-level-label"><i class="fa-solid fa-chart-simple mr-3"></i>Level</span>
                <span class="current-level-value">
                    {{ active_enrollment.course.course_level|default:"Level Pending" }}
                </span>
            </div>
            <span class="status-badge status-badge-student">
                {% if active_enrollment.course.status == 'confirmed' %}
                    <i class="fa-regular fa-circle-check mr-2"></i>
                {% elif active_enrollment.course.status == 'active' %}
                    <i class="fa-regular fa-circle-play mr-2"></i>
                {% elif active_enrollment.course.status == 'completed' %}
                    <i class="fa-solid fa-hourglass-end mr-2"></i>
                {% elif active_enrollment.course.status == 'paused' %}
                    <i class="fa-regular fa-circle-pause mr-2"></i>
                {% elif active_enrollment.course.status == 'cancelled' %}
                    <i class="fa-regular fa-circle-xmark mr-2"></i>
                {% endif %}
                    {{ active_enrollment.course.get_status_display|default:"In progress" }}
            </span>

        </div>
        
    </header> 
    <hr>

        
        <div class="wrapper-course-card w-100">

            <div class="course-card">

                <div class="circle-panel1">
                    <h2>General Info</h2>
                </div>

                <div class="circle-panel2"></div>

                {% if not active_enrollment %}
                <div class="profile-card p-4">
                    <!-- <h2>No active course assigned yet</h2> -->
                    <p>Your course information will appear here once you are enrolled in a course.</p>
                </div>
                {% endif %}

                <div class="info row d-flex align-items-center justify-content-between">
                    <!-- div:first-of-type -->
                    <div class="col col-12">
                        <div class="item col col-12 col-md-6 timetable-info">
                            <div class="item-icon">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                            <div class="item-text">
                                <strong>Timetable</strong>
                                {% if active_enrollment.course.timetable_slots %}
                                    {% for slot in timetable_slots %}                    
                                    <span> <strong>{{ slot.get_day_of_week_display|slice:":3" }}. </strong>
                                        {{ slot.start_time|time:"H:i" }} - {{ slot.end_time|time:"H:i" }}
                                    </span>
                                    {% endfor %}
                                {% else %}
                                    <span> Not assigned yet</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="item col col-12 col-md-6 next-class-info">
                                <div class="corner-ribbon">
                                    Upcoming
                                </div>
                                <div class="item-icon">
                                <i class="fa-solid fa-chalkboard-user"></i>
                            </div>
                            <div class="item-text">
                                <strong>Next Class</strong>
                                {% if next_class %}
                                <span> {{ next_class.start_time|ordinal_sup_short }}</span>
                                <span>{{ next_class.start_time|time:"H:i" }} - {{ next_class.end_time|time:"H:i" }}</span>
                                {% else %}    
                                <span>Pending</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col col-12 col-md-6">
                        {% if active_enrollment.course.total_hours %} 
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal"></i>
                            </div>

                            <div class="item-text">
                                <strong>Total Hours</strong>
                                <span>{{ active_enrollment.course.total_hours|clean_decimal }} hours</span>
                        {% elif active_enrollment.course.course_type.default_hours %}
                                <span>{{ active_enrollment.course.course_type.default_hours|clean_decimal }} hours</span></p>
                        {% else %}
                                Not assigned yet</p>
                        {% endif %}
                            </div>
                        </div>                    
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-regular fa-hourglass"></i>
                            </div>

                            <div class="item-text">
                                <strong>Class Duration</strong>
                                <span>{{ active_enrollment.course.class_duration|clean_decimal }}{% if active_enrollment.course.class_duration <= 1 %} hour {% else %} hours {% endif %}</span>
                            </div>
                        </div>                    
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-list-ol"></i>
                            </div>

                            <div class="item-text">
                                <strong>Total Classes</strong>
                                <span>{{ active_enrollment.course.number_of_classes|default:"Not confirmed yet" }}</span>
                            </div>
                        </div>                
                    </div>

                    <div class="col col-12 col-md-6">
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-regular fa-calendar-check"></i>
                            </div>

                            <div class="item-text">
                                <strong>Start date</strong>
                                <span>{{ active_enrollment.course.start_date|ordinal_sup|safe |default:"Not confirmed yet" }}</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-regular fa-calendar-xmark"></i>
                            </div>

                            <div class="item-text">
                                <strong>End date</strong>
                                <span>{{ active_enrollment.course.end_date|ordinal_sup|safe |default:"Not confirmed yet" }}</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-icon">
                                {% if active_enrollment.course.teacher.profile.profile_photo %} 
                                <img src="{{ active_enrollment.course.teacher.profile.profile_photo.url }}" alt="{{ active_enrollment.course.teacher.get_full_name }}">
                                {% else %}
                                <i class="fa-solid fa-graduation-cap"></i>
                                {% endif %}
                            </div>
                            <div class="item-text">
                                <strong>Teacher</strong>
                                {% if active_enrollment.course.teacher %}                    
                                    <span> {{ active_enrollment.course.teacher.first_name|default:"Not Assigned yet" }} 
                                        {{ active_enrollment.course.teacher.last_name }}</span>
                                {% else %}
                                    <span> Not assigned yet</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profiles.js' %}"></script>

{% endblock %}
