{% extends "profiles/profile_base.html" %}
{% load static %}
{% load date_extras %}
{% load course_extras %}


{% block extra_title %}| Course Info{% endblock %}


{% block content %}

{% include "profiles/includes/student/student_sidebar.html" %}

<section class="my-course course-details">    
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>

    
    <div class="row">        
        <div class="col-12 mb-4 ml-0 pl-0">
            <header>
                <!-- 1st Child -->
                <div class="row mb-3">
                    <div class="col-12 mb-2">
                        <p class="back-to-my-assigned-courses">
                            <a href="#" class="js-back-link">
                                <i class="fa-solid fa-arrow-left-long mr-3"></i>
                                Go Back
                            </a>
                        </p>
                    </div>
                </div>    
                <!-- 2nd Child -->
                <div>
                    <span class="level level-{{ active_enrollment.course.course_level|lower|cut:'.' }}">
                        {{ active_enrollment.course.course_level|default:"Level Pending" }}</span>
                    {% if active_enrollment %}
                    <h1>{{ active_enrollment.course.name }}</h1>
                    {% endif %}
                </div>
                <!-- 3rd Child -->
                {% if active_enrollment %}
                <div>   
                    <h2>
                        <span><i class="fa-solid fa-swatchbook fa-flip-horizontal mr-3"></i>{{ active_enrollment.course.course_type.name }}</span>
                        <span>|</span>
                        <span><i class="fa-regular fa-clock mr-3"></i>{{ active_enrollment.course.total_hours|clean_decimal }} h.</span>
                    </h2>
                </div>
                
                <span class="status-badge {{ active_enrollment.course.status }} mb-3">
                {{ active_enrollment.course.get_status_display|default:"In progress" }}</span>

                {% endif %}
                <hr>
            </header>
        </div>
        
        <div class="wrapper-course-card w-100">
            <div class="course-card row">
                <div class="circle-panel1">
                    <!-- <div class="icon-circle-bg"><i class="fa-solid fa-info"></i></div> -->
                    <h2>General Info</h2>
                </div>
                <div class="circle-panel2"></div>
                <div class="info row d-flex align-items-center justify-content-between">
    {% if active_enrollment %}
                    <div class="col col-12 col-md-6">
                        {% if active_enrollment.course.total_hours %} 
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal"></i>
                            </div>

                            <div class="item-text">
                                <strong>Total Hours</strong>
                                <span>{{ active_enrollment.course.total_hours|clean_decimal }} hours</span>
                        {% elif active_enrollment.course.course_type.default_hours %}
                                <span>{{ active_enrollment.course.course_type.default_hours|clean_decimal }} hours</span></p>
                        {% else %}
                                Not assigned yet</p>
                        {% endif %}
                            </div>
                        </div>                    
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-regular fa-hourglass"></i>
                            </div>

                            <div class="item-text">
                                <strong>Class Duration</strong>
                                <span>{{ active_enrollment.course.class_duration|default:"Not confirmed yet" }} hours</span>
                            </div>
                        </div>                    
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-list-ol"></i>
                            </div>

                            <div class="item-text">
                                <strong>Total Classes</strong>
                                <span>{{ active_enrollment.course.number_of_classes|default:"Not confirmed yet" }}</span>
                            </div>
                        </div>                
                    </div>

                    <div class="col col-12 col-md-6">
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-regular fa-calendar-check"></i>
                            </div>

                            <div class="item-text">
                                <strong>Start date</strong>
                                <span>{{ active_enrollment.course.start_date|ordinal_sup|safe |default:"Not confirmed yet" }}</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-regular fa-calendar-xmark"></i>
                            </div>

                            <div class="item-text">
                                <strong>End date</strong>
                                <span>{{ active_enrollment.course.end_date|ordinal_sup|safe |default:"Not confirmed yet" }}</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-graduation-cap"></i>
                            </div>
                            <div class="item-text">
                                <strong>Timetable</strong>
                                {% if active_enrollment.course.timetable_slots %}
                                    {% for slot in timetable_slots %}                    
                                    <span> {{ slot.get_day_of_week_display|slice:":3" }}:
                                        {{ slot.start_time|time:"H:i" }} - {{ slot.end_time|time:"H:i" }}
                                    </span>
                                    {% endfor %}
                                {% else %}
                                    <span> Not assigned yet</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-graduation-cap"></i>
                            </div>
                            <div class="item-text">
                                <strong>Teacher</strong>
                                {% if active_enrollment.course.teacher %}                    
                                    <span> {{ active_enrollment.course.teacher.first_name|default:"Not Assigned yet" }} 
                                        {{ active_enrollment.course.teacher.last_name }}</span>
                                {% else %}
                                    <span> Not assigned yet</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    {% else %}
    <div class="profile-card p-4">
        <!-- <h2>No active course assigned yet</h2> -->
        <p>Your course information will appear here once you are enrolled in a course.</p>
    </div>
    {% endif %}

</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/profiles.js' %}"></script>

{% endblock %}
