{% extends "profiles/profile_base.html" %}
{% load static %}
{% load date_extras %}
{% load course_extras %}


{% block extra_title %}| My Learning Progress {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles_base.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profile_roles/teacher/teacher_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/features/learner_performance/learner_performance_pages.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/components/skills_progress_chart.css' %}">
{% endblock %}


{% block profile_content %}

<section class="student-detail-page profile-page">
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>

    <!-- Header -->
    <header>

        <div class="student-main-info">
            <div>
                <div class="student-avatar-large
                    {% if student.is_active %}avatar-active{% else %}avatar-inactive{% endif %}">

                    {% if student_profile.profile_photo %}
                        <img
                            src="{{ student_profile.profile_photo.url }}"
                            alt="{{ student.get_full_name }}"
                        >
                    {% else %}
                        {% if student_profile.role == "employee" or student_profile.role == "company_admin" %}
                            <i class="fa-solid fa-user-tie"></i>
                        {% else %}
                            <i class="fa-regular fa-user"></i>
                        {% endif %}
                    {% endif %}

                    <span
                        class="avatar-status-dot"
                        aria-label="{% if student.is_active %}Enrolled{% else %}Inactive{% endif %}"
                        title="{% if student.is_active %}Enrolled{% else %}Inactive{% endif %}">
                    </span>
                </div>
            </div>
            
            <div>
                <h1>{{ student.get_full_name|default:student.username }}</h1>

                <!-- <div class="profile-user-role">
                    <span><i class="fa-regular fa-user mr-2"></i>
                        {{ student_profile.get_role_display|default:"Learner" }}</span>
                </div>  -->

                <div class="header-level mt-4">  
                    <div class="level-pill larger-devs">
                        <span class="current-level-label">Level</span>
                        <span class="current-level-value">
                        {% if student_profile.current_level %}    
                            {{ student_profile.get_current_level_display }}
                        {% else %}
                            Pending
                        {% endif %}    
                        </span>
                    </div>
                    <div class="level-pill smaller-devs">
                        <span class="current-level-label">Level</span>
                        <span class="current-level-value">
                        {% if student_profile.current_level %}    
                            {{ student_profile.current_level }}
                        {% else %}
                            Pending
                        {% endif %}    
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% if enrollments|length > 1 %}
    <form method="get" class="course-selector-form smaller-devs">

        <label for="course-select" class="course-selector-label">
            <img src="{% static 'icons/one_to_one_course_icon.png' %}" alt="icon">
            <span>Select Course</span>
        </label>

        <div class="course-select-wrapper">
            <select
                id="course-select"
                name="course"
                class="course-select"
                onchange="this.form.submit()">
                {% for item in enrollments %}
                    <option
                        value="{{ item.course.id }}"
                        {% if course and item.course.id == course.id %}selected{% endif %}>
                        · {{ item.course.name }} - {{ item.course.get_status_display }}
                    </option>
                {% endfor %}
            </select>

            <i class="fa-solid fa-chevron-down course-select-arrow"></i>
        </div>

    </form>
    {% endif %}

    <div class="student-detail-tabs-wrapper">
        <nav class="student-detail-tabs">
            {% if enrollments|length > 1 %}
            <div class="wrapper-course-selector-form">

                <form method="get" class="course-selector-form">

                    <label for="course-select" class="course-selector-label">
                        <img src="{% static 'icons/one_to_one_course_icon.png' %}" alt="icon">
                        <span>Select Course</span>
                    </label>

                    <div class="course-select-wrapper">
                        <select
                            id="course-select"
                            name="course"
                            class="course-select"
                            onchange="this.form.submit()">
                            {% for item in enrollments %}
                                <option
                                    value="{{ item.course.id }}"
                                    {% if course and item.course.id == course.id %}selected{% endif %}>
                                    · {{ item.course.name }} - {{ item.course.get_status_display }}
                                </option>
                            {% endfor %}
                        </select>

                        <i class="fa-solid fa-chevron-down course-select-arrow"></i>
                    </div>

                </form>
                
            </div>
            {% endif %}
            <div class="wrapper-links-inner-nav">
                <a href="{% url 'profiles:my_learning_progress' %}?course={{ course.id }}" class="active">Overview</a>
                <a href="{% url 'profiles:my_skills' %}?course={{ course.id }}">Skills</a>
                <a href="{% url 'profiles:my_attendance' %}?course={{ course.id }}">Attendance</a>
            </div>
        </nav>
    </div>
         <!-- Overview content -->
    <div class="student-overview-grid">

        <div class="student-details-skills-overview-grid">
            <article class="skills-progress-section">
                <div class="skills-chart-card">
                    <div class="skills-chart-header">
                        <a href="{% url 'profiles:my_skills' %}?course={{ course.id }}">
                            <h2>My Progress Along the Course
                                <img src="{% static 'icons/arrow_right_turquoise_icon.png' %}" alt="icon" width="52px">
                            </h2>
                        </a>    
                    </div>

                    <div class="skills-chart-canvas-wrap">
                        <canvas id="overallSkillsProgressChart"></canvas>
                    </div>
                </div>
            </article>
        </div>  
        
        <div class="student-detail-card-grid"><!-- Current Course -->
            <article class="student-detail-card">
                <div>
                    <div class="course-info-detail-card">
                        <a href="{% url 'profiles:my_course' %}?course={{ course.id }}">
                            <h2>
                            {% if enrollments|length > 1 %}
                                Course Details
                            {% elif enrollments|length <= 1 %}
                                {{ course.name }}
                            {% endif %}
                                <img src="{% static 'icons/arrow_right_turquoise_icon.png' %}" alt="icon" width="52px">
                            </h2>    
                        </a>
                        <span class="status-badge status-course">
                            {% if course.status == 'confirmed' %}
                                <i class="fa-regular fa-circle-check mr-2"></i>
                            {% elif course.status == 'active' %}
                                <i class="fa-regular fa-circle-play mr-2"></i>
                            {% elif course.status == 'completed' %}
                                <i class="fa-solid fa-hourglass-end mr-2"></i>
                            {% elif course.status == 'paused' %}
                                <i class="fa-regular fa-circle-pause mr-2"></i>
                            {% elif course.status == 'cancelled' %}
                                <i class="fa-regular fa-circle-xmark mr-2"></i>
                            {% endif %}
                                {{ course.get_status_display|default:"none" }}
                        </span>

                    </div>
                </div>    
                <div class="current-course-block">

                    <div class="d-flex flex-column">
                        <div class="student-ring-layout">

                            <div class="progress-ring"
                                style="--percentage: {{ completion_percentage }};">
                                <div class="progress-ring-inner">
                                    <strong>{{ completion_percentage }}%</strong>
                                    <span>Completed</span>
                                </div>
                            </div>

                            <div class="student-stat-list">
                                <div class="detail-row">
                                    {% if course.status == "completed" or course.status == "confirmed" %}
                                        <strong>Dates</strong>
                                        <span>{{ course.start_date|date:"j M"|default:"?" }} - {{ course.end_date|date:"j M 'y"|default:"?" }}</span>
                                    {% elif course.status == "active" %}
                                        <strong>Timetable</strong>
                                        <span>
                                            {% if formatted_timetable %}
                                                {% for timetable in formatted_timetable %}
                                                    {{ timetable.days }}
                                                    <br>
                                                    {{ timetable.start }} - {{ timetable.end }}

                                                    {% if not forloop.last %}
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                Not assigned
                                            {% endif %}
                                        </span>
                                    {% endif %}                                
                                </div>
                                <div class="detail-row">
                                    <strong>Completed Lessons:</strong>
                                    <span>{{ completed_classes }} / {{ total_classes }}</span>                                
                                </div>
                            </div>

                        </div>
                    </div>

                </div> 
            </article>

            <!-- Attendance Overview -->
            <article class="student-detail-card">
                <div class="student-detail-card-attendance">
                    <a href="{% url 'profiles:my_attendance' %}?course={{ course.id }}">
                        <h2>
                            Attendance
                            <img src="{% static 'icons/arrow_right_turquoise_icon.png' %}" alt="icon" width="52px">
                        </h2>
                    </a>
                    <div class="student-ring-layout">

                        <div class="progress-ring"
                            style="--percentage: {{ attendance_percentage }};">
                            <div class="progress-ring-inner">
                                <strong>{{ attendance_percentage }}%</strong>
                                <span>Attended</span>
                            </div>
                        </div>

                        <div class="student-stat-list">
                            <div class="detail-row">
                                <strong>Lessons Attended:</strong>
                                <span>{{ attended_count }} / {{ completed_classes }}</span>
                            </div>
                            <div class="detail-row">
                                <strong>Hours Attended:</strong>
                                <span>{{ attended_hours_display }} / {{ completed_hours_display }}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
    
        </div>
    
    </div>
</section>

{% endblock %}


{% block postloadjs %}
{{ block.super }}

{% if overall_skill_chart_data %}
    {{ overall_skill_chart_data|json_script:"overall-skills-chart-data" }}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'profiles/js/components/skills_progress_chart.js' %}"></script>
{% endblock %}