{% extends "profiles/profile_base.html" %}
{% load static %}
{% load i18n %}

{% load date_extras %}
{% load course_extras %}


{% block extra_title %}| My Learning Progress {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles_base.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/features/learner_performance/learner_performance_pages.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/components/skills_progress_chart.css' %}">
{% endblock %}


{% block profile_content %}

<section class="student-detail-page profile-page notranslate" translate="no">
    <div class="overlay-globe"></div>
    <div class="overlay-mist"></div>

    <!-- Header -->
    <header>

        <div class="student-main-info">
            <div>
                <div class="student-avatar-large
                    {% if student.is_active %}avatar-active{% else %}avatar-inactive{% endif %}">

                    {% if student_profile.profile_photo %}
                        <img
                            src="{{ student_profile.profile_photo.url }}"
                            alt="{{ student.get_full_name }}"
                        >
                    {% else %}
                        {% if student_profile.role == "employee" or student_profile.role == "company_admin" %}
                            <i class="fa-solid fa-user-tie"></i>
                        {% else %}
                            <img src="{% static 'icons/profile_user_icon.png' %}" alt="" aria-hidden="true">
                        {% endif %}
                    {% endif %}

                    <span
                        class="avatar-status-dot"
                        aria-label="{% if student.is_active %}Enrolled{% else %}Inactive{% endif %}"
                        title="{% if student.is_active %}Enrolled{% else %}Inactive{% endif %}">
                    </span>
                </div>
            </div>
            
            <div>
                <h1 class="notranslate" translate="no">{{ student.get_full_name|default:student.username }}</h1>

                <!-- <div class="profile-user-role">
                    <span><i class="fa-regular fa-user mr-2"></i>
                        {{ student_profile.get_role_display|default:"Learner" }}</span>
                </div>  -->

                <div class="header-level mt-4">  
                    <div class="level-pill larger-devs">
                        <span class="current-level-label">{% trans 'Level' %}</span>
                        <span class="current-level-value notranslate" translate="no">
                        {% if student_profile.current_level %}    
                            {{ student_profile.get_current_level_display }}
                        {% else %}
                            {% trans 'Pending' %}
                        {% endif %}    
                        </span>
                    </div>
                    <div class="level-pill smaller-devs">
                        <span class="current-level-label">{% trans 'Level' %}</span>
                        <span class="current-level-value notranslate" translate="no">
                        {% if student_profile.current_level %}    
                            {{ student_profile.current_level }}
                        {% else %}
                            {% trans 'Pending' %}
                        {% endif %}    
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    {% if enrollments|length > 1 %}
        <form method="get" class="course-selector-form smaller-devs notranslate" translate="no">

            <div class="course-selector-label">
                <img
                    src="{% static 'icons/one_to_one_course_icon.png' %}"
                    alt="icon"
                >
                <span>{% trans 'Course' %}</span>
            </div>


            <div class="course-select-wrapper course-dropdown">

                <!-- CURRENTLY SELECTED COURSE -->
                <button
                    type="button"
                    id="course-select-small"
                    class="course-select course-dropdown-toggle"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <span class="course-dropdown-selected">

                        {% if course %}
                            <span class="course-dropdown-course-name notranslate" translate="no">
                                · {{ course.name }}
                            </span>

                            <span class="course-dropdown-status">
                                - {{ course.get_status_display }}
                            </span>
                        {% else %}
                            <span>{% trans 'Course' %}</span>
                        {% endif %}

                    </span>

                    <img class="course-select-arrow" src="{% static 'icons/chevron_down_teal.png' %}" alt="" width="36" aria-hidden="true">
                </button>


                <!-- DROPDOWN OPTIONS -->
                <div
                    class="course-dropdown-menu"
                    role="menu"
                    hidden
                >

                    {% for item in enrollments %}

                        <button
                            type="submit"
                            name="course"
                            value="{{ item.course.id }}"
                            class="course-dropdown-option{% if course and item.course.id == course.id %} active{% endif %}"
                            role="menuitem"
                        >

                            <span
                                class="course-dropdown-course-name notranslate"
                                translate="no"
                            >
                                · {{ item.course.name }}
                            </span>

                            <span class="course-dropdown-status">
                                - {{ item.course.get_status_display }}
                            </span>

                        </button>

                    {% endfor %}

                </div>

            </div>

        </form>
    {% endif %}

    <div class="student-detail-tabs-wrapper notranslate" translate="no">
        <nav class="student-detail-tabs">
            {% if enrollments|length > 1 %}
            <form method="get" class="course-selector-form">    
                <div class="course-selector-label">
                    <img
                        src="{% static 'icons/one_to_one_course_icon.png' %}"
                        alt="icon"
                    >
                    <span>{% trans 'Course' %}</span>
                </div>

                <div class="course-select-wrapper course-dropdown">

                    <!-- CURRENTLY SELECTED COURSE -->
                    <button
                        type="button"
                        id="course-select-large"
                        class="course-select course-dropdown-toggle"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <span class="course-dropdown-selected">

                            {% if course %}
                                <span class="notranslate" translate="no">
                                    · {{ course.name }}
                                </span>

                                <span class="course-dropdown-status">
                                    - {{ course.get_status_display }}
                                </span>
                            {% else %}
                                <span>{% trans 'Course' %}</span>
                            {% endif %}

                        </span>

                        <img class="course-select-arrow" src="{% static 'icons/chevron_down_teal.png' %}" alt="" width="36" aria-hidden="true">
                    </button>


                    <!-- DROPDOWN OPTIONS -->
                    <div
                        class="course-dropdown-menu"
                        role="menu"
                        hidden
                    >

                        {% for item in enrollments %}

                            <button
                                type="submit"
                                name="course"
                                value="{{ item.course.id }}"
                                class="course-dropdown-option{% if course and item.course.id == course.id %} active{% endif %}"
                                role="menuitem"
                            >

                                <span
                                    class="course-dropdown-course-name notranslate"
                                    translate="no"
                                >
                                    · {{ item.course.name }}
                                </span>

                                <span class="course-dropdown-status">
                                    - {{ item.course.get_status_display }}
                                </span>

                            </button>

                        {% endfor %}

                    </div>

                </div>
            </form>    
            {% endif %}

            <div class="wrapper-links-inner-nav notranslate" translate="no">
                <a href="{% url 'profiles:my_learning_progress' %}?course={{ course.id }}" class="active" aria-label="{% trans 'Overview' %}">{% trans 'Overview' %}</a>
                <a href="{% url 'profiles:my_skills' %}?course={{ course.id }}" aria-label="{% trans 'Skills' %}">{% trans 'Skills' %}</a>
                <a href="{% url 'profiles:my_attendance' %}?course={{ course.id }}" aria-label="{% trans 'Attendance' %}">{% trans 'Attendance' %}</a>
            <!-- <a href="{% url 'profiles:my_learning_progress_assessment' %}?course={{ course.id }}" aria-label="{% trans 'Assessment' %}">
                {% trans 'Assessment' %}</a> -->
            <!-- <a href="#">
                History</a> -->
            </div>
        </nav>
    </div>
         <!-- Overview content -->
    <div class="student-overview-grid notranslate" translate="no">

        <div class="student-details-skills-overview-grid">
            <article class="skills-progress-section">
                <div class="skills-chart-card">
                    <div class="skills-chart-header">
                        <a href="{% url 'profiles:my_skills' %}?course={{ course.id }}">
                            <h2><span>{% trans 'My Progress' %} 
                                {% if overall_average_score %}
                                <span class="header-score">{{ overall_average_score }} / 10</span>
                                {% else %}
                                <span class="header-score">- / 10</span>
                                {% endif %}
                                </span>
                                <img src="{% static 'icons/arrow_right_turquoise_icon.png' %}" alt="icon" width="52px">
                            </h2>
                        </a>    
                    </div>

                    <div class="skills-chart-canvas-wrap">
                        <canvas id="overallSkillsProgressChart"></canvas>
                    </div>
                </div>
            </article>
        </div>  
        
        <!-- Current Course -->
        <div class="student-detail-card-grid">
            <article class="student-detail-card">
                <div>
                    <div class="course-info-detail-card">
                        <a href="{% url 'profiles:my_course' %}?course={{ course.id }}">
                            <h2>
                            {% if enrollments|length > 1 %}
                                {% trans 'Course Info' %}
                            {% elif enrollments|length <= 1 %}
                                {{ course.name }}
                            {% endif %}
                                <img src="{% static 'icons/arrow_right_turquoise_icon.png' %}" alt="icon" width="52px">
                            </h2>    
                        </a>
                        <span class="status-badge status-course">
                            {% if course.status == 'confirmed' %}
                                <img src="{% static 'icons/course_status_confirmed_teal_icon.png' %}" alt="" width="22" aria-hidden="true" class="mr-2">
                            {% elif course.status == 'active' %}
                                <img src="{% static 'icons/course_status_active_teal_icon.png' %}" alt="" width="22" aria-hidden="true" class="mr-2">
                            {% elif course.status == 'completed' %}
                                <img src="{% static 'icons/course_status_completed_icon.png' %}" alt="" width="18" aria-hidden="true" class="mr-2">
                            {% elif course.status == 'paused' %}
                                <img src="{% static 'icons/course_status_paused_teal_icon.png' %}" alt="" width="22" aria-hidden="true" class="mr-2">
                            {% elif course.status == 'cancelled' %}
                                <i class="fa-regular fa-circle-xmark mr-2"></i>
                            {% endif %}
                                {{ course.get_status_display|default:"none" }}
                        </span>

                    </div>
                </div>    
                <div class="current-course-block notranslate" translate="no">

                    <div class="d-flex flex-column">
                        <div class="student-ring-layout">

                            <div class="progress-ring"
                                style="--percentage: {{ completion_percentage }};">
                                <div class="progress-ring-inner">
                                    <strong>{{ completion_percentage }}%</strong>
                                    <span>{% trans 'Completed' %}</span>
                                </div>
                            </div>

                            <div class="student-stat-list">
                                <div class="detail-row">
                                    {% if course.status == "completed" or course.status == "confirmed" %}
                                        <strong>{% trans 'Dates' %}</strong>
                                        <span>{{ course.start_date|date:"j M"|default:"?" }} - {{ course.end_date|date:"j M 'y"|default:"?" }}</span>
                                    {% elif course.status == "active" %}
                                        <strong>{% trans 'Timetable' %}</strong>
                                        <span>
                                            {% if formatted_timetable %}
                                                {% for timetable in formatted_timetable %}
                                                    {{ timetable.days }}
                                                    <br>
                                                    {{ timetable.start }} - {{ timetable.end }}

                                                    {% if not forloop.last %}
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% trans 'Pending' %}
                                            {% endif %}
                                        </span>
                                    {% endif %}                                
                                </div>
                                <div class="detail-row">
                                    <strong>{% trans 'Completed Lessons' %}:</strong>
                                    <span>{{ completed_classes }} / {{ total_classes }}</span>                                
                                </div>
                            </div>

                        </div>
                    </div>

                </div> 
            </article>

            <!-- Attendance Overview -->
            <article class="student-detail-card notranslate" translate="no">
                <div class="student-detail-card-attendance">
                    <a href="{% url 'profiles:my_attendance' %}?course={{ course.id }}">
                        <h2>
                            {% trans 'My Attendance' %}
                            <img src="{% static 'icons/arrow_right_turquoise_icon.png' %}" alt="icon" width="52px">
                        </h2>
                    </a>
                    <div class="student-ring-layout">

                        <div class="progress-ring"
                            style="--percentage: {{ attendance_percentage }};">
                            <div class="progress-ring-inner">
                                <strong>{{ attendance_percentage }}%</strong>
                                <span>{% trans 'Attendance' %}</span>
                            </div>
                        </div>

                        <div class="student-stat-list">
                            <div class="detail-row">
                                <strong>{% trans 'Total Attendance' %}:</strong>
                                <span>{{ attended_count }} / {{ completed_classes }}</span>
                            </div>
                            <div class="detail-row">
                                <strong>{% trans 'Hours Attended' %}:</strong>
                                <span>{{ attended_hours_display }} / {{ completed_hours_display }}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
    
        </div>
    
    </div>
</section>

{% endblock %}


{% block postloadjs %}
{{ block.super }}

{% if overall_skill_chart_data %}
    {{ overall_skill_chart_data|json_script:"overall-skills-chart-data" }}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{% static 'profiles/js/components/course_selector_form.js' %}"></script>
<script type="text/javascript" src="{% static 'profiles/js/components/skills_progress_chart.js' %}"></script>
{% endblock %}