{% extends "profiles/profile_base.html" %}
{% load static %}
{% load date_extras %}
{% load course_extras %}


{% block extra_title %}| My Learning Progress {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/teacher_profile.css' %}">
{% endblock %}


{% block profile_content %}

<section class="learner-employee-detail-page profile-page">
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>

    <!-- <div class="mb-4">
        <a href="#" class="js-back-link">
            <i class="fa-solid fa-arrow-left-long mr-3"></i>
            Go Back
        </a>    
    </div> -->

    <!-- Header -->
    <div class="student-detail-header">

        <div class="student-main-info">

            <div class="student-avatar-large">
                {% if student_profile.profile_photo %}
                    <img src="{{ student_profile.profile_photo.url }}" alt="{{ student.get_full_name }}">
                {% else %}
                    {% if student_profile.role == "employee" or student_profile.role == "company_admin" %}
                        <i class="fa-solid fa-user-tie"></i>
                    {% elif student_profile.role == "student" %}
                        <i class="fa-regular fa-user"></i>
                    {% endif %}
                {% endif %}
            </div>

            <div>
                <div class="d-flex flex-row">
                    <div>
                        <h1>{{ student.get_full_name|default:student.username }}</h1>

                        <div class="col-12 dashboard-level-pill mt-4">
                            <span class="current-level-label">
                                <i class="fa-solid fa-chart-simple mr-3"></i>My LEVEL</span>
                            <span class="current-level-value">
                                {{ request.user.profile.get_current_level_display|default:"Level Pending" }}</span>
                        </div>

                        <div class="mt-4">
                            {% if request.user.profile.company %}
                            <p><strong><i class="fa-regular fa-building mr-2"></i>
                                {{ request.user.profile.company.name }}</strong></p>
                            {% else %}
                            <span class="text-center mt-4">{{ "Exam Preparation" }}</span>
                            {% endif %}
                            
                            <p>{{ student.email }}</p>
                        </div>

                        {% if student.is_active %}
                            <span class="status-badge active mt-3">Active</span>
                        {% else %}
                            <span class="status-badge inactive mt-3">Inactive</span>
                        {% endif %}

                    </div>

                </div>
            </div>

        </div>
                                        <!-- {% if student_profile.current_level %}
                    <span class="level level-{{ student_profile.current_level|lower|cut:'.' }} mt-2 ml-3 mr-3">
                        {{ student_profile.current_level }}</span>
                    {% endif %}     -->

    </div>

    <!-- Inside navbar -->
    <div class="student-detail-tabs-wrapper">

        <nav class="student-detail-tabs">
            <a href="{% url 'profiles:teacher_student_detail' course.id enrollment.id %}" class="active">
                Overview
            </a>

            <a href="{% url 'profiles:my_attendance' %}">
                Attendance
            </a>

            <a href="{% url 'profiles:student_skills_overview' course.id enrollment.id %}">
                Skills
            </a>

            <a href="{% url 'profiles:teacher_student_progress_skills_graph' course.id enrollment.id %}">
                Progress
            </a>

            <a href="{% url 'profiles:teacher_student_assessment_notes' course.id enrollment.id %}">
                Assessment
            </a>

            <a href="#">
                History
            </a>
        </nav>
    <div class="student-detail-tabs-wrapper">

    <!-- Overview content -->
    <div class="student-overview-grid">

                        <!-- Current Course -->
        <article class="student-detail-card">
            <div>

                <h2><i class="fa-solid fa-circle-info mr-3"></i>Current Course</h2>
                <hr>

                <div class="current-course-block">

                    <div class="course-icon-box">
                        <!-- <i class="fa-solid fa-briefcase"></i> -->
                    </div>

                    <div>
                        <h3>{{ course.name }}</h3>

                        <div class="student-course-details">
                            <div class="detail-row">
                                <span>Course Type</span>
                                <strong>{{ course.course_type|default:"Not assigned" }}</strong>
                            </div>

                            <div class="detail-row">
                                <span>Total Hours</span>
                                <strong>{{ course.total_hours|clean_decimal }} h.</strong>
                            </div>

                        </div>
                    </div>

                </div>
            </div> 
            <div>
                <a href="{% url 'profiles:teacher_course_details' course.id %}" class="btn-course-details mt-3">
                    <i class="fa-regular fa-eye mr-3"></i>                    
                    details
                    <i class="fa-solid fa-arrow-right ml-3"></i>
                </a>
            </div>
        </article>

        <!-- Attendance Overview -->
        <article class="student-detail-card">
            <div>
                <h2>
                    <i class="fa-solid fa-clipboard-list mr-2"></i>
                    Attendance Overview
                </h2>

                <hr>

                <div class="student-ring-layout">

                    <div class="progress-ring"
                        style="--percentage: {{ attendance_percentage }};">
                        <div class="progress-ring-inner">
                            <strong>{{ attendance_percentage }}%</strong>
                            <span>Attended</span>
                        </div>
                    </div>

                    <div class="student-stat-list">
                        <div class="detail-row">
                            <span>Attended:</span>
                            <strong>{{ attended_count }} / {{ completed_classes }}</strong>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <a href="{% url 'profiles:student_attendance_record' course.id enrollment.id %}" class="btn-course-details mt-3">
                    <i class="fa-regular fa-eye mr-3"></i>
                    details
                    <i class="fa-solid fa-arrow-right ml-3"></i>
                </a>
            </div>
        </article>

        <!-- Course Progress -->
        <article class="student-detail-card">
            <div>
                <h2>
                    <i class="fa-solid fa-chart-simple mr-2"></i>
                    Course Progress
                </h2>
                <hr>
                <div class="student-ring-layout">

                    <div class="progress-ring"
                        style="--percentage: {{ completion_percentage }};">
                        <div class="progress-ring-inner">
                            <strong>{{ completion_percentage }}%</strong>
                            <span>Completed</span>
                        </div>
                    </div>

                    <div class="student-stat-list">
                        <div class="detail-row">
                            <span>Completed Classes:</span>
                            <strong>{{ completed_classes }} / {{ total_classes }}</strong>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <a href="#" class="btn-course-details mt-3">
                    <i class="fa-regular fa-eye mr-3"></i>                    
                    details
                    <i class="fa-solid fa-arrow-right ml-3"></i>
                </a>
            </div>
        </article>
    </div>
    
</section>

{% endblock %}


{% block postloadjs %}
{{ block.super }}
{{ chart_data_json|json_script:"skills-chart-data" }}
<script type="text/javascript" src="{% static 'profiles/js/teacher.js' %}"></script>
{% endblock %}
