{% extends "profiles/profile_base.html" %}
{% load static %}
{% load date_extras %}
{% load course_extras %}

{% block extra_title %}| Dashboard {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/teacher_profile.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/company_admin_profile.css' %}">
{% endblock %}


{% block profile_content %}

<section class="profile-dashboard profile-page">    
    <div class="overlay-birds"></div>
    <div class="overlay-azure-mist"></div>

    <header>
        <h1>Welcome, {{ request.user.first_name|default:request.user.username }}</h1>
        <hr>
    </header>

    <div class="row mb-5">
        <div class="col-12 dashboard-level-pill">
            <span class="current-level-label">My LEVEL</span>
            <span class="current-level-value">
            {% if request.user.profile.current_level %}    
                {{ request.user.profile.get_current_level_display }}
            {% else %}
                Pending
            {% endif %}    
            </span>
        </div>
    </div>

    <div class="wrapper-next-class-card">
        <div class="next-class-card">
            <div class="circle-panel1">
                <!-- <div class="icon-circle-bg"><i class="fa-solid fa-desktop"></i></div> -->
                <h2>Next Class</h2>
            </div>
            <div class="circle-panel2"></div>
            <div class="info">
                {% if next_class %}
                    <p><i class="fa-solid fa-calendar-day mr-2"></i> {{ next_class.start_time|ordinal_sup|safe }}</p>
                    <p><i class="fa-regular fa-clock mr-2"></i> {{ next_class.start_time|time:"H:i" }} - {{ next_class.end_time|time:"H:i" }}</p>
                    <p><i class="fa-solid fa-graduation-cap mr-2"></i> {{ active_enrollment.course.teacher.first_name|default:"Edna" }} {{ active_enrollment.course.teacher.last_name|default:"T." }}</p>
                        <!-- <div class="class-session-next-class">
                            <img src="{% static 'icons/class_session_teacher.png' %}" alt="Teacher" class="ml-0 mr-1">
                            <span>{{ active_enrollment.course.teacher.first_name|default:"Edna" }} {{ active_enrollment.course.teacher.last_name|default:"T." }}</span>
                        </div>
                        <div class="class-session-next-class">
                            <img src="{% static 'icons/class_session_topic.png' %}" alt="Topic" class="ml-0 mr-1">
                            <span>{{ next_class.topic|default:"Not added" }}</span>
                        </div> -->
                    {% if next_class.topic %}
                    <p><i class="fa-regular fa-bookmark"></i>{{ next_class.topic }}</p>
                    {% endif %}
                    {% if next_class.meeting_link %}
                        <a href="{{ next_class.meeting_link }}" class="btn-join-class btn mt-3" target="_blank" rel="noopener">
                            <i class="fa-solid fa-video mr-2"></i>
                            Join Class <i class="fa-solid fa-chevron-right ml-5 float-right"></i>
                        </a>
                    {% endif %}
                {% else %}
                    <p>No upcoming class scheduled yet.</p>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}